.headerContainer {
  width: 100%;
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
}

.header {
  position: relative;
  z-index: 10;
  width: calc(100% - 4rem);
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  padding: 0.75rem 2rem;
  margin: auto;
}

.logoLink,
.logoLink:hover,
.navBarLogoLink,
.navBarLogoLink:hover {
  height: 2.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.75rem;
}

.navBarLogoLink,
.navBarLogoLink:hover {
  font-size: 3rem;
  height: auto;
  flex-direction: column;
}

.logo {
  height: 2.5rem;
  width: auto;
  object-fit: contain;
}

.phone,
.link,
.navBarPhone {
  position: relative;
  color: var(--accent);
}
.phone::after,
.link::after,
.navBarPhone::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--accent);
  transform: scaleX(0);
  transition: transform 0.15s linear;
  transform-origin: left;
}
.phone.active::after, .phone:hover::after,
.link.active::after,
.link:hover::after,
.navBarPhone.active::after,
.navBarPhone:hover::after {
  transform: scaleX(1);
}

.phone {
  font-size: 1.5rem;
}

.malt {
  fill: var(--accent);
}
.malt svg {
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0.1rem;
  transition: border-color 0.075s linear;
}
.malt svg:hover {
  border-color: var(--primary);
}

.phoneContainer {
  color: var(--accent);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.burger {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translate(-50%);
  height: 2rem;
  width: 2rem;
  border: none;
  cursor: pointer;
  background: unset;
}
.burger span {
  display: inline-block;
  position: absolute;
  left: 0;
  height: 3px;
  width: 2rem;
  background: var(--accent);
}
.burger span::after, .burger span::before {
  content: "";
  position: absolute;
  left: 0px;
  width: inherit;
  height: inherit;
  top: -10px;
  background: var(--accent);
  border: none;
  border-radius: 15px;
  transition: transform 0.15s linear, background-color 0.15s linear;
}
.burger span::before {
  top: 10px;
}

.menuOpen .burger span {
  background: transparent;
}
.menuOpen .burger span::after {
  transform: translateY(10px) rotate(-135deg);
  background: var(--bg);
}
.menuOpen .burger span::before {
  transform: translateY(-10px) rotate(135deg);
  background: var(--bg);
}

.navigationWrapper {
  --clippy: 0%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  clip-path: circle(var(--clippy) at calc(50% - 0.5rem) 2rem);
  transition: clip-path 0.6s ease-in-out;
  display: grid;
  text-transform: capitalize;
  font-family: var(--fontfam1);
  grid-template-areas: "navigation contact";
}

.navigationWrapperOpen {
  --clippy: 150%;
}

.navigation {
  grid-area: navigation;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--bg);
  font-size: 8.5vh;
  height: 80svh;
}
.navigation a {
  color: unset;
}

.link::after {
  z-index: -1;
  height: 4px;
  border-radius: 10px;
}

.contact {
  grid-area: contact;
  font-size: 1.75rem;
  position: relative;
  height: 80svh;
  line-height: 1.75;
  padding: 10% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contact > *,
.contact a,
.contact a:hover {
  color: var(--bg);
}

.navigationLink {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.navBarPhone::after {
  bottom: 0.5rem;
  height: 3px;
}

.social {
  grid-area: social;
  display: flex;
  gap: 2rem;
}

.icon {
  height: 2.5rem;
  color: var(--bg);
  fill: var(--bg);
  transition: color 0.125s linear, fill 0.125s linear;
}
.icon:hover {
  color: var(--accent);
  fill: var(--accent);
}

@media screen and (max-width: 767px) {
  .navigationWrapper {
    height: calc(100vh - 12.5rem);
    padding: 5rem 0 7.5rem;
    grid-template-areas: "navigation" "contact";
  }
  .navigation {
    font-size: 3rem;
    max-height: 35svh;
  }
  .contact {
    max-height: 30svh;
    margin-bottom: 5vh;
  }
  .navBarlogo {
    height: 10vh;
    width: auto;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .header {
    align-items: flex-start;
  }
  .burger {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
  }
  .phoneContainer {
    display: none;
  }
  .navigationWrapper {
    clip-path: circle(var(--clippy) at calc(100% - 4rem) 2rem);
    transition: clip-path 0.5s ease-in-out;
  }
}