@import '../../styles/scss/utils/mixins';

.headerContainer {
    width: 100%;
    z-index: 2;
    position: sticky;
    margin-top: 2rem;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

.header {
    width: calc(100% - 4rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    padding: 0.75rem 2rem;
    margin: 0 auto 1rem;

    > * {
        min-width: 6rem;
        text-align: center;
    }
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.15rem;
    text-transform: capitalize;
    font-family: var(--fontfam2);
    color: var(--text);

    a {
        text-decoration: none;
        &:not(:last-of-type) {
            color: unset;
            @include textShadow;
        }
    }
}

.contact {
    @include contactUs($size: 1.5rem);
}

.link {
    height: 2.5rem;
}

.logo {
    height: 2.5rem;
    width: 7.5rem;
    object-fit: contain;
}
