.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid var(--col);
  border-width: 2px 0;
  padding: 1rem 0;
  margin: 1rem auto;
  max-width: 1600px;
}
.header > * {
  min-width: 6rem;
  text-align: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: var(--font-fam2);
}
.navigation a {
  text-decoration: none;
}
.navigation a:not(:last-of-type) {
  color: unset;
}

.contact {
  padding: 0.25rem 1rem;
  border-radius: 5rem;
  color: var(--cta);
  border: 2px solid var(--col);
}

.logo {
  width: 3rem;
  height: 2.875rem;
}

.darkModeBtn {
  border: none;
  background: unset;
  font-size: 2rem;
  color: var(--col);
  cursor: pointer;
}