@import '../../styles/scss/utils/mixins';

.header {
    z-index: 2;
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100% - 4rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    // border: solid var(--col);
    // border-width: 1px 0;
    padding: .75rem 2rem;
    margin: 1rem auto;
    backdrop-filter: blur(5px);

    > * {
        min-width: 6rem;
        text-align: center;
    }
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.15rem;
    font-weight: 300;
    text-transform: capitalize;
    font-family: var(--font-fam2);

    a {
        text-decoration: none;
        &:not(:last-of-type) {
            color: unset;
        }
    }
}

.contact {
    // padding: 0.25rem 1rem;
    // border-radius: 5rem;
    // color: var(--cta);
    // border: 1px solid var(--col);
    // font-weight: 400;
    @include contactUs($size: 1.5rem);
}

.logo {
    // width: 3rem;
    aspect-ratio: 1;
}

.darkModeBtn {
    border: none;
    background: unset;
    font-size: 2rem;
    color: var(--col);
    cursor: pointer;
}
