.headerContainer {
  width: 100%;
  z-index: 2;
  position: sticky;
  margin-top: 2rem;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}

.header {
  width: calc(100% - 4rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  padding: 0.75rem 2rem;
  margin: 0 auto 1rem;
}
.header > * {
  min-width: 6rem;
  text-align: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.15rem;
  text-transform: capitalize;
  font-family: var(--fontfam2);
  color: var(--text);
}
.navigation a {
  text-decoration: none;
}
.navigation a:not(:last-of-type) {
  color: unset;
  text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 1px 0px 0 white, 0px 1px 0 white, -1px 0px 0 white, 0px -1px 0 white;
}

.contact {
  padding: 0.75rem 1.5rem;
  border-radius: 25rem;
  color: var(--bg);
  background: var(--cta);
  font-weight: 400;
  font-size: 1.5rem;
}

.link {
  height: 2.5rem;
}

.logo {
  height: 2.5rem;
  width: 7.5rem;
  object-fit: contain;
}