.contact-modal {
    position: fixed;
    background: #fffa;
    backdrop-filter: blur(5px);
    inset: 0;
    z-index: 10;
    opacity: 0;
    animation: fadeIn 0.15s linear forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.contact-modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 2rem;
    border: 1px solid var(--accent);
    line-height: 1.5;
    font-size: 1.5rem;
    border-radius: 15px;

    .contact-modalTitle {
        font-size: 2rem;
    }

    .contact-modalButton {
        display: block;
        cursor: pointer;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        color: var(--bg);
        border: 1px solid var(--accent);
        background: var(--accent);
        border-radius: 25rem;
        font-size: 2rem;
        margin-top: 2rem;
        padding: 0.25rem 1.5rem;

        &:hover {
            color: var(--accent);
            background: #fff;
        }
    }
}

.contact-pageTitle,
.contact-main {
    color: var(--text);
    width: 98%;
    @include maxWidth;
}

.contact-pageTitle {
    margin: 2.5rem auto 3rem;
    text-align: center;
    font-size: 3.5rem;
    font-family: var(--fontfam1);
    text-transform: capitalize;
}

.contact-main {
    display: grid;
    grid-template:
        'title form' 2fr
        'link form' 7fr / 3fr 2fr;
    gap: 2rem;
    margin-bottom: 2rem;
    min-height: 34rem;
}

.contact-section {
    border-radius: 25px;
    @include boxShadow;
}

.contact-article {
    @include flexCol;
    padding: 2rem;
}

.contact-articleTitle {
    font-size: 2.25rem;
    font-family: var(--fontfam1);
    text-transform: capitalize;
}

// page

.contact-title {
    grid-area: title;
    background: url('/assets/contact/phone.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--bg);
    font-size: 2rem;
    display: grid;
    place-content: center;

    h3 {
        margin: 1rem;
    }
}

// Form section

.contact-formContact {
    background: var(--lightCol);
    grid-area: form;

    .contact-article {
        height: calc(100% - 4rem);
        justify-content: space-between;
        gap: 1rem;
    }
}

.contact-formTitle {
    line-height: 1.15;
    font-size: 1.15rem;
}

.contact-formWrapper {
    flex-grow: 0.5;
    @include flexCol;
    gap: 1rem;
}

.contact-inputWrapper,
.contact-textAreaWrapper {
    position: relative;
    width: 100%;
}

.contact-input,
.contact-textArea {
    background: var(--bg);
    width: calc(100% - 2rem);
    padding: 0.5rem 1rem;
    font-size: 1.15rem;
    border: none;
    border-radius: 10px;
    &:focus,
    &:valid {
        & ~ .contact-label {
            font-size: 0.75rem;
            transform: translate(0.25rem, -100%);
        }
    }
}

.contact-input {
    min-height: 2rem;
}

.contact-label {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0 0.5rem 1.25rem;
}

.contact-formButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--bg);
    background: var(--accent);
    border: 1px solid var(--accent);
    padding: 0.75rem 0;
    width: 100%;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1.15rem;
    border-radius: 10px;
    &:hover {
        background: #fff;
        color: var(--accent);
    }
    svg {
        height: 1.25rem;
    }
}

// direct contact

.contact-linksWrapper {
    grid-area: link;
    background: var(--lightCol);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;

    .contact-article {
        position: relative;
        width: 35%;
        background: var(--bg);
        gap: 1.5rem;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
    }

    .contact-articleTitle {
        font-size: 1.75rem;
    }
}

.contact-followUs {
    @include flexCol;
}

.contact-iconContainer {
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: -0.75rem;
    left: -0.75rem;
    border-radius: 25px;
    padding: 0.75rem;
    background-color: var(--bg);
}

.contact-icon {
    color: var(--accent);
    font-size: 2rem;
}

.contact-linkWrapper {
    display: flex;
    gap: 1.5rem;
    font-size: 1.25rem;
    a{
        color: var(--accent);
    }
}

.contact-socialIcon {
    height: 2.5rem;
}

/* Tablette */
@media screen and (max-width: 991px) {
    .contact-main {
        width: 100%;
        grid-template:
            'title'
            'link'
            'form';
    }

    .contact-section {
        border-radius: unset;
    }
}

@media screen and (max-width: 576px) {
    .contact-linksWrapper {
        .contact-article {
            width: 85%;
        }
    }
}
