@import '../../styles/scss/utils/mixins';

.main {
    color: var(--text);
    min-height: 80vh;
    @include maxWidth;
    > * {
        line-height: 1.75;
    }
}

.header {
    margin: 4rem auto 4rem;
    width: min(1000px, 98%);
}

.headerTitle {
    font-size: 2.5rem;
    font-family: var(--fontfam1);
}

.headerContent {
    font-size: 1.25rem;
    margin: 1rem 0 2.5rem;
}

.contactBtn {
    display: inline-block;
    text-decoration: none;
    @include contactUs($size: 1.25rem);
    padding: 0.75rem 1.5rem;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 100%;
    height: 25rem;
}

.projectContainer {
    position: absolute;
    @include flexCol;
    border: 2px solid blue;
    background: var(--lightCol);
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    &[data-position = '0']{
        z-index:999;
    }
}

.button {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.left {
    left: 2rem;
}

.right {
    right: 2rem;
}

@media screen and (max-width: 991px) {
    .header {
        text-align: center;
    }
    .headerContent {
        text-align: justify;
        margin: 1rem 1.5rem 3rem;
    }
}
