.main {
  color: var(--text);
  position: relative;
  min-height: 80vh;
  width: 100%;
  background-color: var(--bg);
  background-image: url("/assets/grainy.webp");
  background-attachment: fixed;
}
.main > * {
  line-height: 1.75;
}

.header {
  margin: 4rem auto 4rem;
  width: min(1000px, 98%);
}

.headerTitle {
  font-family: var(--fontfam1);
  text-align: center;
  font-size: 5.5rem;
  margin: 5rem auto;
  color: var(--primary);
}

.headerContent {
  font-size: 1.25rem;
  margin: 1rem 0 2.5rem;
}

.contactBtn {
  display: inline-block;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--bg);
  background: var(--primary);
  transition: background-color 0.25s linear, color 0.25s linear, border-color 0.25s linear;
  font-weight: 400;
  font-size: 1.25rem;
  box-shadow: 0px 2px 2px 0 rgba(17, 17, 17, 0.3333333333);
  padding: 0.75rem 1.5rem;
}
.contactBtn:hover {
  background: var(--secondary);
  border: 1px solid var(--secondary);
  text-shadow: unset;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25rem;
}

.projectContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: transform 0.25s linear;
  cursor: pointer;
  transform-origin: bottom right;
}
.projectContainer[data-position="1"] {
  z-index: 2;
  transform: rotate(2.5deg);
}
.projectContainer[data-position="2"] {
  z-index: 3;
  transform: rotate(5deg);
}

.button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.left {
  left: 2rem;
}

.right {
  right: 2rem;
}

/* anim for moving discs from front to back */
.projectContainer[data-position="3"] {
  z-index: 9;
  animation: linear 0.5s forwards running to-the-back;
}
.projectContainer[data-position="-1"] {
  z-index: 0;
  animation: linear 0.5s forwards running to-the-front;
}

@keyframes to-the-back {
  0% {
    transform: translateX(0rem) rotate(5deg);
  }
  25% {
    opacity: 0.75;
    transform: translateX(5rem) rotate(15deg);
  }
  40% {
    transform: translateX(5rem) rotate(15deg);
    opacity: 0;
    z-index: 9;
  }
  60% {
    transform: translateX(-5rem) rotate(-15deg);
    opacity: 0;
    z-index: 1;
  }
  75% {
    opacity: 0.75;
    z-index: 1;
  }
  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
    z-index: 1;
  }
}
/* anim for moving discs from back to front */
@keyframes to-the-front {
  25% {
    opacity: 0.75;
  }
  40% {
    transform: translateX(-5rem) rotate(-15deg);
    opacity: 0;
    z-index: 1;
  }
  60% {
    transform: translateX(5rem) rotate(15deg);
    opacity: 0;
  }
  75% {
    opacity: 0.75;
    z-index: 9;
  }
  100% {
    transform: translateX(0) rotate(5deg);
    opacity: 1;
    z-index: 9;
  }
}
@media screen and (max-width: 991px) {
  .header {
    text-align: center;
  }
  .headerContent {
    text-align: justify;
    margin: 1rem 1.5rem 3rem;
  }
}