@import '../../styles/scss/utils/mixins';

.main{
    color: var(--text);
    min-height: 80vh;
    @include maxWidth;
    >*{
        line-height: 1.75;}
}

.header{
    margin: 4rem auto 8rem;
    width: min(1000px, 98%);
}

.headerTitle{
    font-size: 2.5rem;
    font-family: var(--fontfam1);
}

.headerContent{
    font-size: 1.25rem;
    margin: 1rem 0 2.5rem;
}

.contactBtn {
    display: inline-block;
    text-decoration: none;
    @include contactUs($size: 1.25rem);
    padding: .75rem 1.5rem;
}