.main {
  color: var(--text);
  position: relative;
  min-height: 80vh;
  overflow-x: hidden;
  width: 100%;
  background: #fff;
}
.main > * {
  line-height: 1.75;
}

.header {
  margin: 2rem auto 4rem;
  width: min(1000px, 98%);
}

.headerTitle {
  font-family: var(--fontfam1);
  text-align: center;
  font-size: 5.5rem;
  margin: 5rem auto;
  color: var(--accent);
  margin: unset;
}

.headerContent {
  font-size: 1.25rem;
  text-align: center;
}

.contactBtn {
  display: inline-block;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  border-radius: 5px;
  color: var(--text);
  background: var(--primary);
  transition: background-color 0.25s linear, color 0.25s linear, border-color 0.25s linear;
  font-weight: 400;
  font-size: 1.25rem;
  box-shadow: 0px 2px 2px 0 rgba(17, 17, 17, 0.3333333333);
  padding: 0.75rem 1.5rem;
}
.contactBtn:hover {
  background: var(--grey);
  color: var(--accent);
}

.carousel {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: min(100%, 1000px);
  height: 25rem;
  margin: 5rem auto 10rem;
}

.projectsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 480px;
  width: 340px;
}

.firstAnim, .projectContainer {
  position: absolute;
  padding: 1rem;
}

.firstAnim {
  animation: displayingcards 0.5s steps(1) forwards;
  animation-delay: var(--delay);
  opacity: 0;
}
.firstAnim[data-position="0"] {
  --delay: 0s;
  z-index: 2;
  transform: rotate(0deg) translate(0vmin, 0vmin);
}
.firstAnim[data-position="1"] {
  --delay: 0.05s;
  z-index: 3;
  transform: rotate(1deg) translate(10vmin, -5vmin);
}
.firstAnim[data-position="2"] {
  --delay: 0.1s;
  z-index: 4;
  transform: rotate(2deg) translate(20vmin, -10vmin);
}
.firstAnim[data-position="3"] {
  --delay: 0.15s;
  z-index: 5;
  transform: rotate(3deg) translate(30vmin, -15vmin);
}
.firstAnim[data-position="4"] {
  --delay: 0.2s;
  z-index: 6;
  transform: rotate(4deg) translate(40vmin, -20vmin);
}
.firstAnim[data-position="5"] {
  --delay: 0.25s;
  z-index: 7;
  transform: rotate(5deg) translate(50vmin, -25vmin);
}
.firstAnim[data-position="6"] {
  --delay: 0.3s;
  z-index: 8;
  transform: rotate(6deg) translate(60vmin, -30vmin);
}
.firstAnim ~ span {
  color: white;
}

@keyframes displayingcards {
  to {
    opacity: 1;
  }
}
.projectContainer {
  transition: transform 0.25s linear;
  cursor: pointer;
  transform-origin: bottom right;
}
.projectContainer[data-position="0"] {
  z-index: 2;
  transform: rotate(0deg);
}
.projectContainer[data-position="1"] {
  z-index: 3;
  transform: rotate(1deg);
}
.projectContainer[data-position="2"] {
  z-index: 4;
  transform: rotate(2deg);
}
.projectContainer[data-position="3"] {
  z-index: 5;
  transform: rotate(3deg);
}
.projectContainer[data-position="4"] {
  z-index: 6;
  transform: rotate(4deg);
}
.projectContainer[data-position="5"] {
  z-index: 7;
  transform: rotate(5deg);
}
.projectContainer[data-position="6"] {
  z-index: 8;
  transform: rotate(6deg);
}
.projectContainer:not([data-position="6"]) {
  pointer-events: none;
}

.name {
  position: absolute;
  left: 50%;
  bottom: -1rem;
  transform: translateX(-50%);
  opacity: 0;
  width: 80%;
  text-align: center;
  transition: opacity 0.125s linear;
}
.name[data-position="6"], .name[data-position="-1"] {
  opacity: 1;
}

.arrowsWrapper {
  width: min(75vw, 700px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

.arrow {
  position: relative;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: unset;
  background: unset;
}
.arrow::after {
  position: absolute;
  top: 0;
}
.arrow div {
  position: relative;
  height: 3px;
  width: 3rem;
  background: var(--accent);
  border-radius: 25px;
  transform-origin: var(--arrow-transform-origin);
  transition: 0.25s transform ease-in-out;
}
.arrow div::after, .arrow div::before {
  content: "";
  position: absolute;
  background: var(--accent);
  height: 3px;
  width: 50%;
  border-radius: 25px;
  transition: 0.25s transform ease-in-out;
  transform-origin: var(--arrow-transform-origin);
}
.arrow:hover > div::after {
  transform: rotate(25deg);
}
.arrow:hover > div::before {
  transform: rotate(-25deg);
}

.left {
  --arrow-transform-origin: left;
}
.left > div::after {
  left: 0;
}
.left > div::before {
  left: 0;
}

.right {
  --arrow-transform-origin: right;
}
.right > div::after {
  transform: translateX(-100%) rotate(90deg);
  right: 0;
}
.right > div::before {
  transform: translateX(-100%) rotate(-90deg);
  right: 0;
}

/* anim for moving discs from front to back */
.projectContainer[data-position="7"] {
  z-index: 9;
  animation: linear 0.5s forwards running to-the-back;
}
.projectContainer[data-position="-1"] {
  z-index: 0;
  animation: linear 0.5s forwards running to-the-front;
}

@keyframes to-the-back {
  0% {
    transform: translateX(0rem) rotate(5deg);
  }
  25% {
    opacity: 0.75;
    transform: translateX(5rem) rotate(15deg);
  }
  40% {
    transform: translateX(5rem) rotate(15deg);
    opacity: 0;
    z-index: 9;
  }
  60% {
    transform: translateX(-5rem) rotate(-15deg);
    opacity: 0;
    z-index: 1;
  }
  75% {
    opacity: 0.75;
    z-index: 1;
  }
  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
    z-index: 1;
  }
}
/* anim for moving discs from back to front */
@keyframes to-the-front {
  25% {
    opacity: 0.75;
  }
  40% {
    transform: translateX(-5rem) rotate(-15deg);
    opacity: 0;
    z-index: 1;
  }
  60% {
    transform: translateX(2rem) rotate(15deg);
    opacity: 0;
  }
  75% {
    opacity: 0.75;
    z-index: 9;
  }
  100% {
    transform: translateX(0rem) rotate(6deg);
    opacity: 1;
    z-index: 9;
  }
}
@media screen and (max-width: 1400px) {
  .carousel {
    margin: 10rem auto;
  }
}
@media screen and (max-width: 576px) {
  .arrowsWrapper {
    width: 90vw;
  }
  .projectsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 330px;
    width: 240px;
  }
  .illus {
    height: 276px;
    width: 182px;
  }
  .carousel {
    margin: 5rem auto;
  }
}