.about {
  min-height: 250vh;
}

.article {
  width: 100vw;
  max-width: unset;
  height: auto;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 10rem;
  position: sticky;
  top: 0rem;
  background: var(--primary);
}

.titleWrapper {
  width: 98%;
  height: 25vh;
  max-width: 1400px;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 5rem;
  text-align: center;
}

.videoPlayerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  aspect-ratio: 20/11;
}
.videoPlayerContainer::after {
  content: "";
  position: absolute;
  height: 105%;
  width: 105%;
  background-image: url("/assets/home/emptyTablet.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

.videoTitle {
  position: absolute;
  top: -2.5rem;
  left: 0.75rem;
  text-transform: capitalize;
  width: 100%;
  text-align: right;
  color: var(--text);
  left: 1.75rem;
}
.videoTitle::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 0.5rem;
  background-image: url("/assets/home/arrow.webp");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.presentationWrapper {
  height: 50vh;
  width: 100vw;
  overflow: hidden;
  position: sticky;
  top: calc(25vh + 15rem);
}

.presentationText {
  --bp: "10%";
  position: relative;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.presentationText::after {
  position: absolute;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("/assets/home/monumentGirondins.webp");
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: contain;
}

.text {
  position: relative;
  display: block;
  line-height: 1.5;
  font-size: 3rem;
  font-family: var(--fontfam1);
  top: -2.5rem;
}

.textA {
  font-size: 6rem;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .titleWrapper {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 1080px) {
  .videoPlayerContainer {
    width: 40vw;
    height: unset;
    margin-inline: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .about {
    min-height: 200vh;
  }
  .article {
    padding-top: 5rem;
  }
  .titleWrapper {
    flex-direction: column;
    width: 90%;
    margin: auto;
    gap: 5rem;
  }
  .title {
    font-size: 10vw;
  }
  .videoPlayerContainer {
    width: 65vw;
    height: 35.75vw;
    aspect-ratio: unset;
  }
  .videoPlayerContainer::after {
    height: 37.5vw;
    width: 68.25vw;
  }
  .videoTitle {
    left: 0.5rem;
  }
  .text {
    font-size: 4.75vw;
  }
  .textA {
    font-size: 16vw;
  }
}
@media screen and (max-width: 576px) {
  .titleWrapper {
    width: 90%;
  }
}