.about {
  background: var(--primary);
  min-height: 150vh;
}

.article {
  height: 100%;
  display: flex;
  gap: 5rem;
}
.article > * {
  flex-basis: 100%;
}

.titleWrapper {
  height: 80vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 5rem;
  width: 50%;
}

.title {
  font-size: 5rem;
  color: #fff;
  width: 100%;
  text-align: center;
}

.videoPlayerContainer {
  position: relative;
  width: 90%;
  aspect-ratio: 20/11;
  border-radius: 10px;
}
.videoPlayerContainer::after {
  content: "";
  position: absolute;
  height: 105%;
  width: 105%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/assets/home/emptyTablet.png");
  background-size: contain;
}

.videoTitle {
  position: absolute;
  top: -2.5rem;
  left: 0.75rem;
  text-transform: capitalize;
  width: 100%;
  text-align: right;
  font-family: var(--fontfam3);
  color: var(--grey);
  left: 1.75rem;
}
.videoTitle::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 0.5rem;
  background-image: url("/assets/home/bgarrow.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.videoPlayer {
  display: grid;
  place-content: center;
  border-radius: 7px;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  margin: 100vh 0;
}

.contentWrapper {
  min-height: calc(15vh - 2rem);
  margin: 15vh 0;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1.15;
  display: grid;
  align-content: center;
  position: sticky;
  background: linear-gradient(rgba(255, 255, 255, 0.3333333333), rgba(255, 255, 255, 0.3333333333)), var(--primary);
  border-radius: 7px;
}
.contentWrapper:nth-child(1) {
  top: 17.5vh;
}
.contentWrapper:nth-child(2) {
  top: 35vh;
}
.contentWrapper:nth-child(3) {
  top: 52.5vh;
}
.contentWrapper:nth-child(4) {
  top: 70vh;
}
.contentWrapper:nth-child(5) {
  top: 87.5vh;
}
.contentWrapper:last-child {
  background: rgba(0, 0, 0, 0);
}

.contentText {
  position: sticky;
  top: 5rem;
}

@media screen and (max-width: 1200px) {
  .article {
    flex-direction: column;
  }
  .titleWrapper {
    min-height: 30rem;
    flex-direction: row-reverse;
    width: 100%;
    z-index: 5;
  }
  .contentWrapper {
    margin: 2.5rem 0;
    min-height: 5rem;
  }
  .contentWrapper:nth-child(1) {
    top: 36rem;
  }
  .contentWrapper:nth-child(2) {
    top: 42rem;
  }
  .contentWrapper:nth-child(3) {
    top: 48rem;
  }
  .contentWrapper:nth-child(4) {
    top: 54rem;
  }
  .contentWrapper:nth-child(5) {
    top: 60rem;
  }
}
@media screen and (max-width: 910px) {
  .titleWrapper {
    min-height: 25rem;
  }
  .title {
    font-size: 3.5rem;
  }
  .contentWrapper:nth-child(1) {
    top: 32.5rem;
  }
  .contentWrapper:nth-child(2) {
    top: 40rem;
  }
  .contentWrapper:nth-child(3) {
    top: 47.5rem;
  }
  .contentWrapper:nth-child(4) {
    top: 55rem;
  }
  .contentWrapper:nth-child(5) {
    top: 62.5rem;
  }
}
@media screen and (max-width: 767px) {
  .titleWrapper {
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
  .videoTitle {
    left: 0.5rem;
  }
}
@media screen and (max-width: 576px) {
  .contentWrapper {
    font-size: 1.25rem;
  }
}