@import '../../../styles/scss/utils/mixins';

.about {
    background: var(--primary);
    min-height: 150vh;
}

.article {
    height: 100%;
    display: flex;
    gap: 5rem;
    > * {
        flex-basis: 100%;
    }
}

.titleWrapper {
    height: 80vh;
    position: sticky;
    @include flexCol;
    justify-content: space-around;
    align-items: center;
    top: 5rem;
    width: 50%;
}

.title {
    font-size: 5rem;
    color: var(--grey);
    width: 100%;
    text-align: center;
}

.videoPlayerContainer {
    position: relative;
    width: 90%;
    aspect-ratio: 20 / 11;
    border-radius: 10px;
    // overflow: hidden;
    border: 0.5rem solid var(--grey);
    background: var(--grey);
}

.videoTitle {
    @include comment($url: '/assets/home/bgarrow.png', $color: var(--grey));
}

.videoPlayer {
    display: grid;
    place-content: center;
    border-radius: 7px;
    overflow: hidden;
}

.content {
    @include flexCol;
    justify-content: space-evenly;
    position: relative;
    margin: 100vh 0;
}

.contentWrapper {
    min-height: calc(15vh - 2rem);
    margin: 15vh 0;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 1.15;
    display: grid;
    place-content: left;
    position: sticky;

    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            top: 17.5vh * $i;
        }
    }

    &:last-child {
        background: #00000000;
    }
}

.contentText {
    position: sticky;
    top: 5rem;
}
