@import '../../../styles/scss/utils/mixins';

.about {
    background: var(--primary);
    min-height: 150vh;
}

.article {
    height: 100%;
    display: flex;
    gap: 5rem;
    > * {
        flex-basis: 100%;
    }
}

.titleWrapper {
    height: 80vh;
    position: sticky;
    @include flexCol;
    justify-content: space-around;
    align-items: center;
    top: 5rem;
    width: 50%;
}

.title {
    font-size: 5rem;
    color: #fff;
    width: 100%;
    text-align: center;
}

.videoPlayerContainer {
    position: relative;
    width: 90%;
    aspect-ratio: 20 / 11;
    border-radius: 10px;
    &::after {
        content: '';
        position: absolute;
        height: 105%;
        width: 105%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('/assets/home/emptyTablet.png');
        background-size: contain;
    }
}

.videoTitle {
    @include comment($url: '/assets/home/bgarrow.png', $color: var(--grey));
    left: 1.75rem;
}

.videoPlayer {
    display: grid;
    place-content: center;
    border-radius: 7px;
    overflow: hidden;
}

.content {
    @include flexCol;
    justify-content: space-evenly;
    position: relative;
    margin: 100vh 0;
}

.contentWrapper {
    min-height: calc(15vh - 2rem);
    margin: 15vh 0;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 1.15;
    display: grid;
    place-content: left;
    position: sticky;
    background: var(--primary);

    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            top: 17.5vh * $i;
        }
    }

    &:last-child {
        background: #00000000;
    }
}

.contentText {
    position: sticky;
    top: 5rem;
}

@media screen and (max-width: 1200px) {
    .article {
        flex-direction: column;
    }

    .titleWrapper {
        min-height: 30rem;
        flex-direction: row-reverse;
        width: 100%;
        z-index: 5;
    }

    .contentWrapper {
        margin: 2.5rem 0;

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                top: 30rem + 5rem * $i;
            }
        }
    }
}

@media screen and (max-width: 910px) {
    .titleWrapper {
        min-height: 25rem;
    }

    .title {
        font-size: 3.5rem;
    }

    .contentWrapper {
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                top: 25rem + 7.5rem * $i;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .titleWrapper {
        flex-direction: column;
        width: 70%;
        margin: auto;
    }

    .videoTitle {
        left: 0.5rem;
    }
}

@media screen and (max-width: 576px) {
    .contentWrapper {
        font-size: 1.25rem;
    }
}
