@mixin contactUs($size: inherit) {
    padding: calc($size/2) $size;
    // border: 1px solid var(--secondary);
    border-radius: 5px;
    color: var(--text);
    background: var(--primary);
    transition: background-color 0.25s linear, color 0.25s linear,
        border-color 0.25s linear;
    font-weight: 400;
    font-size: $size;
    &:hover {
        background: var(--grey);
        color: var(--accent);
        // border: 1px solid var(--secondary);
    }
    @include boxShadow(#1115);
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}

@mixin flexSB {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin textShadow($color: white) {
    text-shadow: 1px 1px 0 $color, 1px -1px 0 $color, -1px 1px 0 $color,
        -1px -1px 0 $color, 1px 0px 0 $color, 0px 1px 0 $color,
        -1px 0px 0 $color, 0px -1px 0 $color;
}

@mixin links {
    color: unset;

    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: var(--primary);
        transition: transform 0.25s linear;
        transform-origin: right;
    }

    &:hover::after {
        transform: scaleX(0);
        animation: unset;
    }
}

@mixin comment($url: '/assets/home/arrow.webp', $color: var(--text)) {
    position: absolute;
    top: -2.5rem;
    left: 0.75rem;
    text-transform: capitalize;
    width: 100%;
    text-align: right;
    // font-family: var(--fontfam3);
    color: $color;

    &::after {
        content: '';
        position: absolute;
        width: 5rem;
        height: 5rem;
        top: 0.5rem;
        background-image: url($url);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
    }
}

@mixin maxWidth {
    max-width: 1400px;
    margin: auto;
}

@mixin boxShadow($color: var(--grey)) {
    box-shadow: 0px 2px 2px 0 $color;
}

@mixin sectionBg($bgColor: var(--bg)) {
    background-color: $bgColor;
    background-image: url('/assets/grainy.webp');
    background-attachment: fixed;
}

@mixin title {
    font-family: var(--fontfam1);
    text-align: center;
    font-size: 5.5rem;
    margin: 5rem auto;
    color: var(--accent);
}

@mixin underline($color: var(--primary))  {
    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background: $color;
        transform: scaleX(0);
        transition: transform 0.15s linear;
        transform-origin: left;
    }
    &.active,
    &:hover {
        &::after {
            transform: scaleX(1);
        }
    }
}
