$textCol: #010028;
$bgCol: #fff;
$primaryCol: #14213d;
$lightCol: hsl(0, 0%, 95%);
$secondaryCol: #1f7ead;
$accentCol: #ff006e;

$accentCol: #ea445a;
$primaryCol: #3d3d3d;
$bgCol: #fcedda;
// $grey: #3d3d3d;
// $bgCol: #fff1d0;

// $accentCol: #ae371f;
$primaryCol: #6a5e44;
$bgCol: #fff1d0;

// $accentCol: #c64f24;
$lightCol: hsl(0, 0%, 95%);

// #FF1F48 //rouge
// #f500e7//rose
// #70f // violet
// #010028 // bleu foncé
/*
--bg: #fff;
    --text: #000;
    --secondary: #14213d;
    --secondary: #f2330d;
    --lightCol: #f2f2f2;
    --primary: #ff006e;
    --grey: #d9d9d9;
    */


$textCol: #010028;
$textCol: #1b1818;
$primary: #e75d50;
$secondary: #49403f;
$grey: #d9d9d9;
$bgCol: #f6f2ea;