// $textCol: #34495E;
$textCol: #000;
$bgCol: #F9FEFF;
// $primaryCol: #2C3E50;
// $secondaryCol: #9B59B6;
// $lightCol: #F8F4FA;
// $accentCol: #E74C3C;
$grey: #D9D9D9;


// $primaryCol: #D36582;
// $secondaryCol: #B8336A;
$lightCol: #F8F4FA;
// $accentCol: #279AF1;

// $primaryCol: #400235;
// $secondaryCol: #BF41B7;
// $lightCol: #be75ba;
// $accentCol: #30D9BA;

// $primaryCol: #051538;
// $secondaryCol: #20617C;
// $lightCol: #4A7E86;
// $accentCol: #FFC962;

// $primaryCol: #2B3499;
$secondaryCol: #FF9209;
$lightCol: #FFD099;
$accentCol: #FF6C22;

$primaryCol: #4C5E9D;
// $primaryCol: #276B92;

$lightCol: #FFF4ED;
// $lightCol: #FFEBE3;
// $lightCol: #FFE0D8;
// $lightCol: #FFD6CE;
// $lightCol: #FFCBBF;
// $lightCol: #FFC0B6;
// $lightCol: #FFB6AC;
// $lightCol: #FFAB9F;
// $lightCol: #FFA192;
// $lightCol: #FF967F;