$textCol: #010028;
$primary: #e75d50;
$textColRed: #E02F1F;
$secondary: #49403f;

$textCol: #010028;
$textColRed: #ff0065;
$primary: #040099;

$primary: #eee;
$secondary: #990059;
$secondary: #040099;
$secondary: #03002e;
$textCol: #03002e;
$grey: #d9d9d9;
$bgCol: #fff;

$accent: #ff0065;