.section {
  position: sticky;
  top: 4rem;
  overflow: hidden;
}

.article {
  justify-content: center;
  height: 90vh;
  display: grid;
  grid-template-areas: "title carousel" "welcome carousel" "link carousel";
  grid-template-columns: 1fr 1fr;
}

.title {
  grid-area: title;
  font-size: 4rem;
  line-height: 1.15;
  align-self: center;
}

.presentation {
  grid-area: welcome;
  font-size: 2rem;
  place-self: baseline;
  font-family: var(--fontfam2);
}

.highlighted {
  color: var(--primary);
}

.linkWrapper {
  grid-area: link;
}

.icon {
  height: 2.5rem;
  padding-right: 1.5rem;
  color: var(--text);
  transition: color 0.125s linear;
}
.icon:hover {
  color: var(--primary);
}

.carouselContainer {
  position: relative;
  grid-area: carousel;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: url("/assets/home/hand.png");
  background-repeat: no-repeat;
  background-size: 35rem;
  background-position: bottom right;
}

.carousel {
  position: absolute;
  bottom: 17.2rem;
  width: 12.75rem;
  right: 11.15rem;
  aspect-ratio: 0.58;
  background: var(--bg);
  overflow: hidden;
}

.carouselIllus {
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%);
}
.carouselIllus[data-position="1"] {
  transform: translate(0%);
  z-index: 10;
}
.carouselIllus[data-position="2"] {
  transform: translate(100%);
  z-index: 10;
}

.commentContainer {
  position: absolute;
  width: 7.5rem;
  bottom: 40rem;
  right: 11rem;
}

.comment {
  position: absolute;
  top: -2.5rem;
  left: 0.75rem;
  text-transform: capitalize;
  width: 100%;
  text-align: right;
  font-family: var(--fontfam3);
  color: var(--text);
}
.comment::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 0.5rem;
  background-image: url("/assets/home/arrow.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

@media screen and (max-width: 1080px) {
  .article {
    grid-template-areas: "title title" "welcome carousel" "link carousel";
  }
  .title {
    text-align: center;
    font-size: 3.5rem;
  }
  .carouselContainer {
    background-size: 30rem;
  }
  .carousel {
    position: absolute;
    bottom: 14.9rem;
    width: 10.8rem;
    right: 9.51rem;
  }
  .commentContainer {
    position: absolute;
    width: 7.5rem;
    bottom: 35rem;
    right: 9rem;
  }
}
@media screen and (max-width: 767px) {
  .article {
    grid-template-areas: "title title" "welcome carousel" "link carousel" "link carousel";
  }
  .carouselContainer {
    background: unset;
  }
  .carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    right: 0;
    border: 2px solid var(--secondary);
    border-radius: 7px;
  }
  .commentContainer {
    position: absolute;
    width: 7.5rem;
    top: 10%;
    left: 50%;
  }
  .presentation {
    margin: auto;
    text-align: center;
  }
  .linkWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .carouselContainer {
    background: unset;
    height: 31rem;
  }
  .presentation {
    margin: unset;
  }
}