.project-section {
    color: var(--text);
    max-width: 1400px;
    margin: auto;
}

.project-header {
    color: var(--bg);
    font-size: 2rem;
    height: 6rem;
    width: min(98%, 90vw);
    max-width: 1400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto 1rem;
    border-radius: 15px;
}

.project-nameContainer {
    position: relative;
    height: 100%;
    width: 100%;
    background: #2c3e5080;
    border-radius: 15px;
    cursor: pointer;

    h2 {
        font-family: var(--fontfam1);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
    }
}

.project-chevron {
    > * {
        height: 2rem;
    }
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.25s transform linear;
}

.project-chevronActive {
    transform: translate(0, -50%) rotate(-180deg);
}

.project-content {
    height: 0px;
    transition: 0.5s height;
    overflow: hidden;
    width: min(98%, 90vw);
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-areas:
        'description description'
        'objectives objectives'
        'implementation illus'
        'hightlights illus';
}

.project-active {
    height: 35rem;
}

.project-description {
    font-size: 1.25rem;
    grid-area: description;
}

.project-contentText {
    line-height: 1.5;
    background: var(--lightCol);
    padding: 0.5rem 1rem;

    > *:not(:first-child) {
        margin-top: 0.75rem;
    }
}

.project-contentTitle {
    font-size: 1.5rem;
}

.project-contentIllus {
    width: 100%;
    max-width: 30rem;
    height: auto;
    object-fit: contain;
}

.project-contentLink {
    margin-left: 5rem;
    grid-area: illus;
}

.project-objectives {
    grid-area: objectives;
}

.project-implementation {
    grid-area: implementation;
}

.project-highlights {
    grid-area: hightlights;
}

@media screen and (max-width: 1200px) {
    .project-header {
        font-size: 1.75rem;
    }

    .project-active {
        height: 100%;
        margin-bottom: 2rem;
    }

    .project-description {
        font-size: 1.25rem;
    }

    .project-content {
        grid-template-areas:
            'description description'
            'objectives objectives'
            'implementation implementation'
            'hightlights illus';
        gap: 0.5rem;
    }
}

/* Tablette */
@media screen and (max-width: 991px) {
    .project-header {
        width: 100%;
        border-radius: unset;
    }
    .project-nameContainer {
        border-radius: unset;
    }

    .project-content {
        grid-template-areas:
            'description'
            'illus'
            'objectives '
            'implementation '
            'hightlights ';
    }

    .project-contentLink {
        margin: 2rem auto 0;
    }
}
