.section {
  color: var(--text);
  max-width: 1400px;
  margin: auto;
}

.header {
  color: var(--bg);
  font-size: 2rem;
  height: 6rem;
  width: 98%;
  max-width: 1400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto 1rem;
  border-radius: 25px;
}

.nameContainer {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(44, 62, 80, 0.5019607843);
  border-radius: 25px;
  cursor: pointer;
}
.nameContainer h2 {
  font-family: var(--fontfam1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.chevron {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  transition: 0.25s transform linear;
}

.chevronActive {
  transform: translate(0, -50%) rotate(-180deg);
}

.content {
  height: 0px;
  transition: 0.5s height;
  overflow: hidden;
  width: 98%;
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-areas: "description description" "objectives objectives" "implementation illus" "hightlights illus";
}

.active {
  height: 35rem;
}

.description {
  font-size: 1.25rem;
  grid-area: description;
}

.contentText {
  line-height: 1.5;
  background: var(--lightCol);
  padding: 0.5rem 1rem;
}
.contentText > *:not(:first-child) {
  margin-top: 0.75rem;
}

.contentTitle {
  font-size: 1.5rem;
}

.contentIllus {
  width: 100%;
  max-width: 30rem;
  height: auto;
  object-fit: contain;
}

.contentLink {
  margin-left: 5rem;
  grid-area: illus;
}

.objectives {
  grid-area: objectives;
}

.implementation {
  grid-area: implementation;
}

.highlights {
  grid-area: hightlights;
}

@media screen and (max-width: 1200px) {
  .header {
    font-size: 1.75rem;
  }
  .active {
    height: 100%;
    margin-bottom: 2rem;
  }
  .description {
    font-size: 1.25rem;
  }
  .content {
    grid-template-areas: "description description" "objectives objectives" "implementation implementation" "hightlights illus";
    gap: 0.5rem;
  }
}
/* Tablette */
@media screen and (max-width: 991px) {
  .header {
    width: 100%;
    border-radius: unset;
  }
  .nameContainer {
    border-radius: unset;
  }
  .content {
    grid-template-areas: "description" "illus" "objectives " "implementation " "hightlights ";
  }
  .contentLink {
    margin: 2rem auto 0;
  }
}