.home-main {
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--fontfam2);

    section {
        width: 100%;
        position: relative;
    }

    h1,
    h2 {
        font-family: var(--fontfam1);
    }

    p,
    blockquote {
        line-height: 1.5;
    }
}

.home-sectionContent {
    width: min(98%, 90vw);
    @include maxWidth;
    display: grid;
    grid-template-areas:
        'illus title'
        'illus content';
    align-items: center;
}

// first part

.home-heroContent {
    position: relative;
    justify-content: center;
    height: 90vh;
    width: min(98%, 90vw);
    @include maxWidth;
    display: grid;
    grid-template-areas:
        'title carousel'
        'welcome carousel';
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home-title {
    grid-area: title;
    font-size: 4rem;
    line-height: 1.15;
}

.home-welcome {
    grid-area: welcome;
    font-size: 2rem;
    place-self: baseline;
}

.home-highlighted {
    color: var(--secondary);
}

.home-carousel {
    // border: .5px solid red;
    position: relative;
    grid-area: carousel;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: url('/assets/home/hand.png');
    background-repeat: no-repeat;
    background-size: 35rem;
    background-position: bottom right;
    transition: background-position 0.25s linear;
}

.home-carousel-illus-container {
    position: absolute;
    bottom: 17.2rem;
    right: 11.15rem;
    width: 12.75rem;
    aspect-ratio: 0.58;
    background: var(--bg);
    overflow: hidden;
}

.home-carousel-illus {
    position: absolute;
    bottom: 0;
    width: inherit;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    transform: translate(-100%);
    &[data-position='1'] {
        transform: translate(0%);
        z-index: 10;
    }
    &[data-position='2'] {
        transform: translate(100%);
        z-index: 10;
    }
}

.home-carousel-name-container{
    position: absolute;
    bottom: 40rem;
    right: 10rem;
    // border: 2px solid red;
    // left: calc(100% - 11.15rem);
    overflow-y: hidden;
    height: 4rem;
    width: 15rem;
    // border: 2px solid red;
    font-family: var(--fontfam3);
}

.home-carousel-name{
    position: absolute;
    opacity: 0;
    width: 100%;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    &[data-displayed='1']{
        opacity:1;
    }
}

//======= ARGUMENTS =======//

.home-arguments {
    background: var(--primary);
    height: 90vh;
}

.home-argumentsContent {
    position: relative;
    // top: 12.5rem;
}

.home-articleIllus {
    grid-area: illus;
    height: 100%;
    max-width: 45vw;
    object-fit: cover;
    border-radius: 15px;
    @include boxShadow(#1115);
}

.home-articleTitle {
    grid-area: title;
    color: var(--bg);
    align-self: center;
}

.home-articleText {
    grid-area: content;
    align-self: center;

    .home-link {
        &::after {
            bottom: 0.25rem;
        }
    }
}

.home-features {
    // padding-top: 20rem;
}

.home-featuresContent {
    @include flexCol;
    // gap: 2rem;
}

.home-featureLink {
    margin: 7.5rem 0;
    align-self: center;
    font-size: 2rem;
    padding: 1rem 2rem;
}

.home-featuresWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.home-feature {
    @include flexCol;
    align-items: center;
    width: 25%;
    padding: 1rem 1.5rem;
    background: var(--lightCol);
    border-radius: 2rem 2rem 0 0;
    height: 10rem;
}

.home-featureTitle {
    font-size: 1.5rem;
    padding: 0.5rem 0 1.5rem;
}

.home-featureText {
    font-size: 0.9rem;
}

.home-solutionsWrapper {
    background: var(--lightCol);
    position: relative;
}

.home-solutions {
    padding: 5rem 0;

    & .home-articleTitle {
        color: unset;
    }
}

.home-testimonialsContent {
    width: 95%;
    @include maxWidth;
}

.home-testimonialsTitle {
    margin: 5rem 0;
    text-align: center;
    line-height: 1.15;
}

.home-testimonialsWrapper {
    @include flexSB;
    gap: 5rem;
    margin-bottom: 5rem;
    max-width: calc(100% - 3rem);
    margin: auto;
    article {
        flex: 1 1 0;
    }
}

.home-testimonialContent {
    position: relative;
    background: #fff;
    padding: 1rem;
    @include boxShadow;
    &::after,
    &::before {
        position: absolute;
        color: var(--secondary);
        font-size: 5rem;
        font-family: 'Acme';
    }
    &::after {
        content: '“';
        top: -3rem;
        left: -1rem;
    }
    &::before {
        content: '”';
        bottom: -4.5rem;
        right: -1rem;
    }
}

.home-testimonialAuthor {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-top: 1rem;
}

.home-ctaSection {
    @include maxWidth;
    // padding-top: 6rem;
    text-align: center;
    line-height: 2;
}

.home-ctaBtn {
    @include contactUs($size: 2.25rem);
    padding: 0.5rem 2.5rem;
    // margin: 5rem 0;
}

@media screen and (max-width: 1080px) {
    .home-heroContent {
        grid-template-areas:
            'title title'
            'welcome illus'
            'linkContainer illus'
            'invit illus';
        gap: 2.5rem;
    }

    .home-sectionContent {
        grid-template-areas:
            'title title'
            'illus content';
    }

    .home-title {
        text-align: center;
    }

    .home-articleTitle {
        text-align: center;
    }
    .home-articleTitle,
    .home-articleText {
        width: min(98%, 90vw);
        margin: auto;
    }

    .home-argumentsContent {
        height: 20rem;
    }

    // FEATURES //

    .home-featuresWrapper {
        @include flexCol;
        width: 100%;
        gap: 0.5rem;
    }

    .home-feature {
        @include flexSB;
        width: 100%;
        border-radius: unset;
        height: 100%;
        padding: 1rem 0;
        > * {
            max-width: min(98%, 90vw);
            margin: auto;
        }
    }

    .home-featureTitle {
        font-size: 1.75rem;
    }

    .home-featureText {
        font-size: 1.25rem;
    }

    .home-featuresContent {
        width: 100%;
        padding-bottom: 5rem;
    }

    .home-solutionsWrapper {
        background: var(--primary);
        color: var(--bg);
    }
}

@media screen and (max-width: 992px) {
    .home-testimonialsTitle {
        margin: 5rem 10%;
    }

    .home-testimonialsWrapper {
        @include flexCol;
        gap: 2.5rem;
        max-width: calc(100% - 6rem);
    }

    .home-testimonialContent {
        font-size: 1.25rem;
    }

    .home-ctaSection {
        max-width: 80%;
        line-height: 1.15;
    }

    .home-ctaContent {
        padding-top: 1.5rem;
        font-size: 1.25rem;
        text-align: left;
        width: min(98%, 90vw);
        margin: auto;
        max-width: 825px;
    }
}

@media screen and (max-width: 767px) {
    .home-heroContent {
        grid-template-areas:
            'title title'
            'welcome welcome'
            'linkContainer illus'
            'invit illus';
    }

    .home-sectionContent {
        width: 100%;
        grid-template-areas:
            'title title'
            'illus illus'
            'content content';
        gap: 1rem;
    }

    .home-argumentsContent {
        height: unset;
    }

    .home-articleIllus {
        width: 100%;
        max-width: unset;
        height: 15rem;
        border-radius: unset;
    }
}

@media screen and (max-width: 576px) {
    .home-heroContent {
        grid-template-areas:
            'title title'
            'welcome welcome'
            'linkContainer linkContainer'
            'illus illus'
            'invit invit';
        gap: 2.5rem;
        height: 50rem;
        width: 100%;
        > *:not(:last-child) {
            width: min(98%, 90vw);
            margin: auto;
        }
    }

    .home-heroIllus {
        max-width: 100%;
        height: 15rem;
        border-radius: unset;
    }

    .home-features {
        padding-top: 15rem;
    }
}

@media screen and (max-width: 390px) {
    .home-contactBtn {
        text-decoration: none;
        padding: 0.75rem 1.25rem;
    }
}
