@import '../../styles/scss/utils/mixins';

.legalNoticeWrapper {
    @include flexCol;
    gap: 0.5rem;
    padding: 2rem 0;
    line-height: 1.15;
    border-radius: 10px;
    max-width: 1000px;
    margin: 5rem auto;
    padding: 2.5rem 1rem;
    line-height: 1.5;
    color: var(--text);
    font-size: 1.15rem;

    section{
        margin-top: 5rem;
    }
    
    
    h1, h2{
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    h2{
        font-size: 2rem;
    }

    h3 {
        margin: 1.5rem 0 1rem;
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    a{
        color: unset;
    }
}

.underlined {
    text-decoration: underline;
}
