.legalNoticeWrapper {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 0;
  line-height: 1.15;
}
.legalNoticeWrapper h1, .legalNoticeWrapper h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.legalNoticeWrapper h2 {
  font-size: 2rem;
}
.legalNoticeWrapper h3 {
  margin: 1.5rem 0 1rem;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.legalNoticeWrapper h4 {
  font-size: 1.25rem;
}

.underlined {
  text-decoration: underline;
}