@import '../../../styles/scss/utils/mixins';

.article {
    width: 95%;
    @include maxWidth;
    padding-top: 5rem;
}

.title {
    margin: 5rem 0;
    text-align: center;
    line-height: 1.15;
}

.wrapper {
    @include flexSB;
    gap: 4rem;
    margin-bottom: 5rem;
    max-width: calc(100% - 3rem);
    margin: auto;
}

.testimonial {
    flex: 1 1 0;
    position: relative;
}

.content {
    position: relative;
    background: #fff;
    padding: 1rem;
    @include boxShadow;
    &::after,
    &::before {
        position: absolute;
        color: var(--accent);
        font-size: 5rem;
        font-family: 'Acme';
    }
    &::after {
        content: '“';
        top: -2.5rem;
        left: -1rem;
    }
    &::before {
        content: '”';
        bottom: -4.5rem;
        right: -1rem;
    }
}

.comment {
    @include comment;
}

.author,
.link {
    display: inline-block;
    width: 50%;
    text-align: left;
    margin-top: 1rem;
}

.link {
    position: absolute;
    right: 0;
    width: auto;
    @include links;
    &:hover{
        position: absolute;
    }
}
