@import '../../../styles/scss/utils/mixins';

.testimonials {
    overflow: hidden;
}

.article {
    width: 95%;
    @include maxWidth;
    padding-top: 5rem;
}

.title {
    margin: 5rem 0;
    text-align: center;
    line-height: 1.15;
}

.wrapper {
    @include flexSB;
    gap: 4rem;
    margin-bottom: 5rem;
    max-width: calc(100% - 3rem);
    margin: auto;
}

.testimonial {
    flex: 1 1 0;
    position: relative;
    margin-bottom: .5rem;
}

.content {
    position: relative;
    background: var(--primary);
    padding: 1rem;
    border-radius: 5px;
    @include boxShadow;
    &::after,
    &::before {
        position: absolute;
        color: var(--accent);
        font-size: 5rem;
        font-family: 'Acme';
    }
    &::after {
        content: '“';
        top: -2.5rem;
        left: -1rem;
    }
    &::before {
        content: '”';
        bottom: -4.5rem;
        right: -1rem;
    }
}

.comment {
    @include comment;
}

.author,
.link {
    display: inline-block;
    width: 50%;
    text-align: left;
    margin-top: 1rem;
}

.author span{
    display: block;
    &:not(:first-child){
        font-size: .75em;
        margin-top: .5rem;
    }
}

.link {
    position: absolute;
    font-style: italic;
    right: 0;
    width: auto;
    color: unset;
    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--primary);
        transform: scaleX(0);
        transition: transform 0.15s linear;
        transform-origin: left;
    }
    &:hover {
        position: absolute;
        &::after {
            transform: scaleX(1);
        }
    }
}

.icon {
    margin-left: 1rem;
    font-size: 0.75em;
}


@media screen and (max-width: 1200px) {
    .wrapper {
        flex-direction: column;
    }

    .testimonial {
        flex: 1 1 0;
        width: min(95%, 600px);
        margin-bottom: 1.5rem;
    }
}