@import '../../styles/scss/utils/mixins';

.main {
    width: 100%;
    @include maxWidth;
}

.header {
    display: grid;
    grid-template-areas:
        'title illus'
        'presentation illus';
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    color: var(--text);
}

.illus {
    grid-area: illus;
    position: relative;
    width: min(50vw, 700px);
    height: auto;
    margin-top: 5rem;
    border-radius: 10px;
    background-image: url('/assets/service/bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    background-attachment: fixed;
}

.title {
    @include title;
    grid-area: title;
}

.presentation {
    grid-area: presentation;
    margin: auto;
    font-size: 1.25rem;
    max-width: 98%;
}

.highlight{
    font-weight: bold;
    color: var(--accent);   
}

.introduction {
    font-size: 2rem;
    font-family: var(--fontfam2);
    line-height: 1.5;
    margin: 5rem auto 2.5rem;
    text-align: center;
    width: min(80vw, 800px);
}

.features {
    grid-area: features;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.feature {
    @include flexCol;
    height: auto;
    width: 98%;
    background: var(--primary);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0 var(--grey);

    &:nth-child(even) {
        justify-self: end;
    }

    &:last-child {
        width: 50%;
        justify-self: center;
        grid-column: span 2;
    }
}

.articleTitle {
    margin: 1rem auto;
    color: var(--accent);
    font-size: 1.5rem;
    text-transform: capitalize;
}

.contentList {
    position: relative;
    width: 90%;
    padding: 1rem 0;
    margin-inline: auto;
    list-style: "· ";
    font-size: 1.15rem;
    line-height: 1.15;
    li:not(:last-child) {
        margin-bottom: 1rem;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 10rem;
        background: var(--grey);
    }
}

.logo {
    margin-right: 0.5rem;
}

@media screen and (max-width: 1200px) {
    .header {
        grid-template-areas:
            'title title'
            'presentation illus';
        width: 98%;
        margin: auto;
    }

    .illus {
        margin-top: unset;
        border-radius: 10px;
        width: 100%;
        background-attachment: unset;
        background-position: top right;
        background-size: cover;
    }

    .features {
        @include flexCol;
        align-items: center;
    }
    .feature {
        &:last-child {
            width: 98%;
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        grid-template-areas:
            'title '
            'illus'
            'presentation';
        grid-template-columns: unset;
        grid-template-rows: repeat(3, 1fr);
        width: 98%;
        margin: auto;
    }
}

@media screen and (max-width: 576px) {
    .title {
        font-size: 16vw;
    }
}
