.footer {
  position: relative;
  top: 5rem;
  background: var(--secondary);
  padding: 2.5rem 0 7.5rem;
  font-size: 1.5rem;
  color: var(--bg);
  font-weight: 500;
}
.footer a {
  text-decoration: none;
  color: unset;
}

.footerWrapper {
  margin: auto;
  width: calc(100% - 4rem);
  max-width: 1400px;
  display: grid;
  grid-template-areas: "logo copyright solutions legal contact social";
  align-items: center;
  justify-items: center;
  text-transform: capitalize;
}

.logoWrapper,
.logoWrapper:hover {
  height: 2.5rem;
  color: unset;
  font-family: var(--fontfam);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.75rem;
  grid-area: logo;
}

.logo {
  height: 2.5rem;
  width: auto;
  object-fit: contain;
}

.copyright {
  grid-area: copyright;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--accent);
  transform: scaleX(0);
  transition: transform 0.15s linear;
  transform-origin: left;
}
.link.active::after, .link:hover::after {
  transform: scaleX(1);
}

.solutions {
  grid-area: solutions;
}

.legal {
  grid-area: legal;
}

.contact {
  grid-area: contact;
}

.social {
  grid-area: social;
  justify-self: flex-end;
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 2rem;
  color: var(--bg);
  fill: var(--bg);
  transition: color 0.125s linear, fill 0.125s linear;
}
.icon:hover {
  color: var(--accent);
  fill: var(--accent);
}

@media screen and (max-width: 1080px) {
  .footerWrapper {
    row-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "logo solutions contact social" "logo solutions contact social" "copyright copyright legal legal";
  }
}
@media screen and (max-width: 767px) {
  .footerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}