.footer {
  position: relative;
  top: 5rem;
  background: var(--primary);
  padding: 2.5rem 0 5rem;
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
}
.footer a {
  text-decoration: none;
  color: unset;
}

.footerWrapper {
  margin: auto;
  width: calc(100% - 4rem);
  max-width: 1400px;
  display: grid;
  grid-template-areas: "logo copyright solutions legal contact social";
  align-items: center;
  justify-items: center;
  text-transform: capitalize;
}

.link,
.link:hover {
  height: 2.5rem;
  color: unset;
  font-family: var(--fontfam2);
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
  font-weight: bold;
  gap: 0.75rem;
  grid-area: logo;
}

.logo {
  height: 2.5rem;
  width: auto;
  object-fit: contain;
}

.copyright {
  grid-area: copyright;
}

.solutions {
  grid-area: solutions;
}

.legal {
  grid-area: legal;
}

.contact {
  grid-area: contact;
}

.social {
  grid-area: social;
  justify-self: flex-end;
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  .footerWrapper {
    row-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "logo solutions contact social" "logo solutions contact social" "copyright copyright legal legal";
  }
}
@media screen and (max-width: 576px) {
  .footerWrapper {
    row-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "logo . social" "solutions . contact" "copyright . legal";
  }
  .copyright,
  .solutions {
    justify-self: flex-start;
  }
  .legal,
  .contact {
    justify-self: flex-end;
  }
}