@import '../styles/scss/utils/mixins';

.main {
    width: 100%;
    font-size: 1.25rem;
    font-family: var(--fontfam2);

    section {
        width: 100%;
    }

    h1,
    h2 {
        font-size: 2.5rem;
        font-family: var(--fontfam1);
    }

    p {
        line-height: 1.5;
    }
}

.sectionContent {
    max-width: 1400px;
    margin: auto;
}

%txtPadding {
    padding: 0 1.5rem;
}

.heroContent {
    position: relative;
    top: 6rem;
    height: 40rem;
    @include flexSB;
}

.heroText {
    flex: 1;
    line-height: 1.5;
    height: 100%;
    @include flexCol;
    @extend %txtPadding;
    justify-content: space-between;
    p {
        &:last-of-type,
        a {
            color: var(--bg);
        }
    }
}

.highlighted {
    color: var(--secondary);
}

.linkContainer {
    @include flexSB;
}

.contactBtn {
    text-decoration: none;
    @include contactUs($size: 1.25rem);
    // padding: .75rem 1.5rem;
}

.heroIllus {
    height: 100%;
    object-fit: cover;
}

.arguments {
    background: var(--primary);
}

.argumentsContent {
    position: relative;
    top: 15rem;
    height: 30rem;
    @include flexSB;
}

.articleTextWrapper {
    height: 100%;
    @include flexCol;
    justify-content: space-evenly;
    @extend %txtPadding;
}

.argumentsTitle {
    color: var(--bg);
}

.features {
    padding-top: 20rem;
}

.featuresContent {
    @include flexCol;
    gap: 2rem;
}

.featureLink {
    margin: 5rem;
    align-self: center;
    font-size: 2rem;
    padding: 1rem 2rem;
}

.featuresWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.feature {
    @include flexCol;
    align-items: center;
    width: 25%;
    padding: 1rem 1.5rem;
    background: linear-gradient(#fffe, #fffe), var(--secondary);
    border-radius: 2rem 2rem 0 0;
    height: 10rem;
}

.featureTitle {
    font-size: 1.5rem;
    padding: 0.5rem 0 1.5rem;
}

.featureText {
    font-size: 0.9rem;
}

.solutionsWrapper {
    background: linear-gradient(#fffe, #fffe), var(--secondary);
}

.solutions {
    display: flex;
    padding: 5rem 0;
}

.solutionsContent {
    @include flexCol;
    @extend %txtPadding;
    justify-content: space-around;
}

.testimonialsTitle {
    margin: 5rem 0;
    text-align: center;
}

.testimonialsWrapper {
    @include flexSB;
    gap: 5rem;
    margin-bottom: 5rem;
    article {
        flex: 1 1 0;
    }
}

.testimonialContent {
    position: relative;
    background: #fff;
    padding: 1rem;
    box-shadow: 0px 4px 4px 0 var(--grey);
    &::after,
    &::before {
        position: absolute;
        color: var(--secondary);
        font-size: 5rem;
        font-family: 'Acme';
    }
    &::after {
        content: '“';
        top: -3rem;
        left: -1rem;
    }
    &::before {
        content: '”';
        bottom: -4.5rem;
        right: -1rem;
    }
}

.testimonialAuthor {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-top: 1rem;
}
