@charset "UTF-8";
.main {
  position: relative;
  top: -5rem;
  width: 100%;
  font-size: 1.25rem;
  font-family: var(--fontfam2);
}
.main section {
  width: 100%;
}
.main h1,
.main h2 {
  font-size: 2.5rem;
  font-family: var(--fontfam1);
}
.main p {
  line-height: 1.5;
}

.sectionContent {
  max-width: 1400px;
  margin: auto;
}

.solutionsContent, .articleTextWrapper, .heroText {
  padding: 0 1.5rem;
}

.heroContent {
  position: relative;
  top: 8rem;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroText {
  flex: 1;
  line-height: 1.5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heroText p:last-of-type,
.heroText p a {
  color: var(--bg);
}

.highlighted {
  color: var(--secondary);
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactBtn {
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  border: 1px solid var(--accent);
  border-radius: 25rem;
  color: var(--bg);
  background: var(--accent);
  font-weight: 400;
  font-size: 1.25rem;
}
.contactBtn:hover {
  background: var(--bg);
  color: var(--accent);
}

.heroIllus {
  height: 100%;
  object-fit: cover;
}

.arguments {
  background: var(--primary);
}

.argumentsContent {
  position: relative;
  top: 15rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articleTextWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.argumentsTitle {
  color: var(--bg);
}

.features {
  padding-top: 20rem;
}

.featuresContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.featureLink {
  margin: 5rem;
  align-self: center;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.featuresWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 1rem 1.5rem;
  background: var(--lightCol);
  border-radius: 2rem 2rem 0 0;
  height: 10rem;
}

.featureTitle {
  font-size: 1.5rem;
  padding: 0.5rem 0 1.5rem;
}

.featureText {
  font-size: 0.9rem;
}

.solutionsWrapper {
  background: var(--lightCol);
}

.solutions {
  display: flex;
  padding: 5rem 0;
}

.solutionsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.testimonialsTitle {
  margin: 5rem 0;
  text-align: center;
}

.testimonialsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 5rem;
}
.testimonialsWrapper article {
  flex: 1 1 0;
}

.testimonialContent {
  position: relative;
  background: #fff;
  padding: 1rem;
  box-shadow: 0px 4px 4px 0 var(--grey);
}
.testimonialContent::after, .testimonialContent::before {
  position: absolute;
  color: var(--secondary);
  font-size: 5rem;
  font-family: "Acme";
}
.testimonialContent::after {
  content: "“";
  top: -3rem;
  left: -1rem;
}
.testimonialContent::before {
  content: "”";
  bottom: -4.5rem;
  right: -1rem;
}

.testimonialAuthor {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: 1rem;
}