@charset "UTF-8";
.main {
  position: relative;
  top: -2rem;
  width: 100%;
  font-size: 1.25rem;
  font-family: var(--fontfam2);
}
.main section {
  width: 100%;
}
.main h1,
.main h2 {
  font-size: 2.5rem;
  font-family: var(--fontfam1);
}
.main p {
  line-height: 1.5;
}

.sectionContent {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-areas: "illus title" "illus content";
  gap: 1rem;
  align-items: center;
}

.heroContent {
  position: relative;
  top: 8rem;
  height: 40rem;
  width: 98%;
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-areas: "title illus" "welcome illus" "linkContainer illus" "invit illus";
  line-height: 1.5;
  height: 100%;
  align-items: center;
  gap: 5rem;
}
.heroContent p:last-of-type,
.heroContent p a {
  color: var(--bg);
}

.title {
  grid-area: title;
}

.welcome {
  grid-area: welcome;
}

.highlighted {
  color: var(--secondary);
}

.linkContainer {
  grid-area: linkContainer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactBtn {
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  border: 1px solid var(--accent);
  border-radius: 25rem;
  color: var(--bg);
  background: var(--accent);
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
}
.contactBtn:hover {
  background: var(--bg);
  color: var(--accent);
}

.heroIllus {
  grid-area: illus;
  max-width: 40vw;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.invit {
  grid-area: invit;
}

.link {
  color: unset;
}
.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: var(--accent);
  transition: transform 0.15s linear;
  transform-origin: right;
}
.link:hover::after {
  transform: scaleX(0);
}

.arguments {
  background: var(--primary);
}

.argumentsContent {
  position: relative;
  top: 15rem;
  height: 30rem;
}

.articleIllus {
  grid-area: illus;
  height: 100%;
  max-width: 45vw;
  object-fit: cover;
  border-radius: 25px;
}

.articleTitle {
  grid-area: title;
  color: var(--bg);
  align-self: center;
}

.articleText {
  grid-area: content;
  align-self: center;
}

.features {
  padding-top: 20rem;
}

.featuresContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.featureLink {
  margin: 2.5rem 0 5rem;
  align-self: center;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.featuresWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 1rem 1.5rem;
  background: var(--lightCol);
  border-radius: 2rem 2rem 0 0;
  height: 10rem;
}

.featureTitle {
  font-size: 1.5rem;
  padding: 0.5rem 0 1.5rem;
}

.featureText {
  font-size: 0.9rem;
}

.solutionsWrapper {
  background: var(--lightCol);
}

.solutions {
  padding: 5rem 0;
}
.solutions .articleTitle {
  color: unset;
}

.testimonialsContent {
  width: 95%;
  max-width: 1400px;
  margin: auto;
}

.testimonialsTitle {
  margin: 5rem 0;
  text-align: center;
  line-height: 1.15;
}

.testimonialsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 5rem;
  max-width: calc(100% - 3rem);
  margin: auto;
}
.testimonialsWrapper article {
  flex: 1 1 0;
}

.testimonialContent {
  position: relative;
  background: #fff;
  padding: 1rem;
  box-shadow: 0px 4px 4px 0 var(--grey);
}
.testimonialContent::after, .testimonialContent::before {
  position: absolute;
  color: var(--secondary);
  font-size: 5rem;
  font-family: "Acme";
}
.testimonialContent::after {
  content: "“";
  top: -3rem;
  left: -1rem;
}
.testimonialContent::before {
  content: "”";
  bottom: -4.5rem;
  right: -1rem;
}

.testimonialAuthor {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: 1rem;
}

.ctaSection {
  max-width: 1400px;
  margin: auto;
  padding-top: 6rem;
  text-align: center;
  line-height: 2;
}

.ctaBtn {
  padding: 1.125rem 2.25rem;
  border: 1px solid var(--accent);
  border-radius: 25rem;
  color: var(--bg);
  background: var(--accent);
  font-weight: 400;
  font-size: 2.25rem;
  padding: 0.5rem 2.5rem;
  margin: 3rem 0 2rem;
}
.ctaBtn:hover {
  background: var(--bg);
  color: var(--accent);
}

@media screen and (max-width: 1080px) {
  .heroContent {
    grid-template-areas: "title title" "welcome illus" "linkContainer illus" "invit illus";
    gap: 2.5rem;
  }
  .sectionContent {
    grid-template-areas: "title title" "illus content";
  }
  .title {
    text-align: center;
  }
  .articleTitle {
    text-align: center;
  }
  .articleTitle, .articleText {
    width: 98%;
    margin: auto;
  }
  .argumentsContent {
    height: 20rem;
  }
  .featuresWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }
  .feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: unset;
    height: 100%;
    padding: 1rem 0;
  }
  .feature > * {
    max-width: 98%;
    margin: auto;
  }
  .featureTitle {
    font-size: 1.75rem;
  }
  .featureText {
    font-size: 1.25rem;
  }
  .featuresContent {
    width: 100%;
    padding-bottom: 5rem;
  }
  .solutionsWrapper {
    background: var(--primary);
    color: var(--bg);
  }
}
@media screen and (max-width: 992px) {
  .testimonialsTitle {
    margin: 5rem 10%;
  }
  .testimonialsWrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: calc(100% - 6rem);
  }
  .testimonialContent {
    font-size: 1.25rem;
  }
  .ctaSection {
    max-width: 80%;
    line-height: 1.15;
  }
  .ctaContent {
    padding-top: 1.5rem;
    font-size: 1.25rem;
    text-align: left;
    width: 98%;
    margin: auto;
    max-width: 825px;
  }
}
@media screen and (max-width: 767px) {
  .heroContent {
    grid-template-areas: "title title" "welcome welcome" "linkContainer illus" "invit illus";
  }
  .sectionContent {
    grid-template-areas: "title title" "illus illus" "content content";
    gap: 1rem;
  }
  .argumentsContent {
    height: unset;
  }
  .articleIllus {
    max-width: 100%;
    height: 15rem;
    border-radius: unset;
  }
}
@media screen and (max-width: 576px) {
  .heroContent {
    grid-template-areas: "title title" "welcome welcome" "linkContainer linkContainer" "illus illus" "invit invit";
    gap: 2.5rem;
    height: 50rem;
    width: 100%;
  }
  .heroContent > *:not(:last-child) {
    width: 98%;
    margin: auto;
  }
  .heroIllus {
    max-width: 100%;
    height: 15rem;
    border-radius: unset;
  }
}