@charset "UTF-8";
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--text);
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.title,
.subtitle {
  font-family: var(--fontfam1);
  max-width: 90%;
  text-align: center;
}

.title {
  font-size: 2.75rem;
  margin: 1.5rem auto;
}

.pricingWrapper {
  display: flex;
  width: 1400px;
  max-width: 98%;
  padding: 2rem 0;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  max-width: 31%;
  background: #fff;
  border-radius: 2.5rem;
  box-shadow: 0px 4px 4px 0 var(--grey);
  transition: transform 0.1s linear;
}
.article:hover {
  transform: scale(1.05);
}

.basic {
  --articleBg: var(--secondary);
}

.standard {
  --articleBg: var(--accent);
}

.premium {
  --articleBg: var(--primary);
}

.pricingTitle,
.header {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.header {
  background: var(--articleBg);
  position: relative;
  text-align: center;
  padding: 1.5rem 0;
  line-height: 1.5;
  border-radius: 2.5rem 2.5rem 0 0;
  color: var(--bg);
  font-family: var(--fontfam2);
}
.header ::after {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 1rem solid var(--articleBg);
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
}

.price {
  font-size: 4rem;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricingTitle {
  padding: 2rem 0 1rem 0;
}

.pricingSubtitle {
  padding-bottom: 1rem;
}

.contentList {
  position: relative;
  width: 80%;
  height: 14rem;
  padding: 1rem 0;
  line-height: 2.25;
  margin-inline: auto;
  list-style: none;
  font-size: 1.15rem;
}
.contentList li:before {
  content: "✓ ";
  font-size: 1.25rem;
}
.contentList::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 10rem;
  background: var(--grey);
}

.footer {
  position: relative;
  text-align: center;
  padding: 2rem;
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 10rem;
  background: var(--grey);
}
.footer a {
  text-decoration: unset;
  color: var(--bg);
  background: var(--articleBg);
  padding: 0.5rem 1rem;
  border-radius: 15rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.highLighted {
  color: var(--articleBg);
}

.more,
.labelForMore,
.labelForLess {
  display: none;
}

.labelForMore,
.labelForLess {
  position: relative;
  padding: 1rem;
  cursor: pointer;
}
.labelForMore::after,
.labelForLess::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 10rem;
  background: var(--grey);
}

@media screen and (max-width: 1200px) {
  .contentList {
    height: 16rem;
  }
}
@media screen and (max-width: 991px) {
  .pricingWrapper {
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .contentList {
    height: auto;
  }
  .article {
    flex-direction: row;
    width: 45rem;
    max-width: 98%;
    margin: auto;
  }
  .header {
    width: 30%;
    padding: 1.5rem;
    border-radius: 2.5rem 0 0 2.5rem;
  }
  .header ::after {
    left: 98%;
    top: 50%;
    transform: translateY(-50%);
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid var(--articleBg);
  }
  .content {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .article:hover {
    transform: unset;
  }
  .header {
    width: 40%;
    padding: 1.5rem;
  }
  .content {
    width: 60%;
  }
  .labelForMore {
    display: block;
  }
  .more:checked ~ .contentList {
    display: block;
  }
  .more:checked ~ .labelForLess {
    display: block;
  }
  .more:checked ~ .labelForMore {
    display: none;
  }
  .contentList {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header {
    font-size: 5vw;
  }
  .price {
    font-size: 10vw;
    display: block;
  }
  .pricingTitle {
    font-size: 6vw;
  }
}