@charset "UTF-8";
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--text);
  width: 1400px;
  margin: auto;
}

.title,
.subtitle {
  font-family: var(--fontfam1);
}

.title,
.headerTitle,
.footer {
  font-size: 2.75rem;
}

.subtitle,
.headerSubtitle {
  font-size: 1.5rem;
}

.title {
  margin: 1.5rem;
}

.pricingWrapper {
  display: flex;
  width: 100%;
  padding: 2rem;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  border: 1px solid var(--grey);
  background: #fff;
  border-radius: 2.5rem;
  box-shadow: 1px 1px 1px var(--grey);
}

.basic {
  --headerBg: var(--secondary);
}

.standard {
  --headerBg: var(--accent);
}

.premium {
  --headerBg: var(--primary);
}

.header {
  background: var(--headerBg);
  position: relative;
  text-align: center;
  padding: 1.5rem 0;
  line-height: 1.5;
  border-radius: 2.5rem 2.5rem 0 0;
}
.header ::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 1rem solid var(--headerBg);
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
}

.headerTitle, .headerSubtitle {
  color: var(--bg);
  font-family: var(--fontfam2);
}

.contentList {
  width: 80%;
  height: 14rem;
  padding: 2rem 0;
  line-height: 2.25;
  margin-inline: auto;
  list-style: none;
  font-size: 1.15rem;
}
.contentList li:before {
  content: "✓ ";
  font-size: 1.25rem;
}

.footer {
  position: relative;
  text-align: center;
  padding: 2rem;
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 10rem;
  background: var(--grey);
}

.highLighted {
  color: var(--headerBg);
}