@import './scss/base/reset', './scss/utils/mixins', './scss/components/buttons',
    './scss/utils/variables', './scss/pages/home/home',
    './scss/pages/projects/projects', './scss/pages/pricing/pricing',
    './scss/pages/legal/legal', './scss/pages/contact/contact',
    './scss/components/project';

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Source+Sans+3&family=Kalam&display=swap');

/* END OF RESET */
/*
font-family: 'Source Sans 3', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Kalam', cursive;
*/

:root {
    --bg: #{$bgCol};
    --text: #{$textCol};
    --primary: #{$primaryCol};
    --secondary: #{$secondaryCol};
    --lightCol: #{$lightCol};
    --accent: #{$accentCol};
    --grey: #{$grey};

    --fontfam1: 'Archivo Black', serif;
    --fontfam2: 'Source Sans 3', sans-serif;
    --fontfam3:  'Kalam', cursive;

    color-scheme: only light;
}

body {
    color: var(--text);
    font-family: var(--fontfam2);
    background: var(--bg);
}

#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a,
a:hover,
a:visited {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.slide-in,
.slide-out {
    position: fixed;
    display: grid;
    place-content: center;
    font-size: 5rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform-origin: bottom;
    z-index: 100;
    background: var(--lightCol);
/*
    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    &::after {
        background: url('/assets/transition.webp');
        background-size: min(1000px, 60%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    &::before {
        background: radial-gradient(circle at center, #fff1 60%, var(--primary)),
            radial-gradient(circle at center, #fff2 50%, var(--primary)),
            radial-gradient(circle at center, #fff3 40%, var(--primary)),
            radial-gradient(circle at center, #fff 30%, var(--primary)),
            var(--primary);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }*/
}

.slide-out {
    transform-origin: top;
}

.name {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

@media screen and (max-width: 1400px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 390px) {
    .home-contactBtn {
        text-decoration: none;
        padding: 0.75rem 1.25rem;
    }
    :root {
        font-size: 12px;
    }
}
