@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Source+Sans+3&family=Kalam&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
--bg: #fff;
    --text: #000;
    --primary: #14213d;
    --secondary: #f2330d;
    --lightCol: #f2f2f2;
    --accent: #ff006e;
    --grey: #d9d9d9;
    */
.more {
  height: 150vh;
}

.home-main {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  font-family: var(--fontfam2);
}
.home-main h1,
.home-main h2 {
  font-family: var(--fontfam1);
}
.home-main p,
.home-main blockquote {
  line-height: 1.5;
}

.home-section {
  width: 100%;
  position: relative;
}

.home-article {
  position: relative;
  width: min(98%, 90vw);
  max-width: 1400px;
  margin: auto;
}

.home-section-title {
  font-size: 3rem;
  font-family: var(--fontfam2);
  text-transform: capitalize;
}

.home-argumentsContent {
  position: relative;
}

.home-articleText {
  grid-area: content;
  align-self: center;
}
.home-articleText .home-link::after {
  bottom: 0.25rem;
}

.home-features {
  height: 150vh;
}

.home-featuresContent {
  display: flex;
  flex-direction: column;
}

.home-featureLink {
  margin: 7.5rem 0;
  align-self: center;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.home-featuresWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.home-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 1rem 1.5rem;
  background: var(--lightCol);
  border-radius: 2rem 2rem 0 0;
  height: 10rem;
}

.home-featureTitle {
  font-size: 1.5rem;
  padding: 0.5rem 0 1.5rem;
}

.home-featureText {
  font-size: 0.9rem;
}

.home-solutionsWrapper {
  background: var(--lightCol);
  position: relative;
}

.home-solutions {
  padding: 5rem 0;
}
.home-solutions .home-articleTitle {
  color: unset;
}

.home-ctaSection {
  max-width: 1400px;
  margin: auto;
  text-align: center;
  line-height: 2;
}

.home-ctaBtn {
  padding: 1.125rem 2.25rem;
  border: 1px solid var(--accent);
  border-radius: 5px;
  color: var(--bg);
  background: var(--accent);
  transition: background-color 0.25s linear, color 0.25s linear, border-color 0.25s linear;
  font-weight: 400;
  font-size: 2.25rem;
  box-shadow: 0px 2px 2px 0 rgba(17, 17, 17, 0.3333333333);
  padding: 0.5rem 2.5rem;
}
.home-ctaBtn:hover {
  background: var(--primary);
  border: 1px solid var(--primary);
  text-shadow: unset;
}

@media screen and (max-width: 1080px) {
  .home-heroContent {
    grid-template-areas: "title title" "welcome illus" "linkContainer illus" "invit illus";
    gap: 2.5rem;
  }
  .home-sectionContent {
    grid-template-areas: "title title" "illus content";
  }
  .home-title {
    text-align: center;
  }
  .home-articleTitle {
    text-align: center;
  }
  .home-articleTitle,
  .home-articleText {
    width: min(98%, 90vw);
    margin: auto;
  }
  .home-argumentsContent {
    height: 20rem;
  }
  .home-featuresWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }
  .home-feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: unset;
    height: 100%;
    padding: 1rem 0;
  }
  .home-feature > * {
    max-width: min(98%, 90vw);
    margin: auto;
  }
  .home-featureTitle {
    font-size: 1.75rem;
  }
  .home-featureText {
    font-size: 1.25rem;
  }
  .home-featuresContent {
    width: 100%;
    padding-bottom: 5rem;
  }
  .home-solutionsWrapper {
    background: var(--primary);
    color: var(--bg);
  }
}
@media screen and (max-width: 992px) {
  .home-testimonialsTitle {
    margin: 5rem 10%;
  }
  .home-testimonialsWrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: calc(100% - 6rem);
  }
  .home-testimonialContent {
    font-size: 1.25rem;
  }
  .home-ctaSection {
    max-width: 80%;
    line-height: 1.15;
  }
  .home-ctaContent {
    padding-top: 1.5rem;
    font-size: 1.25rem;
    text-align: left;
    width: min(98%, 90vw);
    margin: auto;
    max-width: 825px;
  }
}
@media screen and (max-width: 767px) {
  .home-heroContent {
    grid-template-areas: "title title" "welcome welcome" "linkContainer illus" "invit illus";
  }
  .home-sectionContent {
    width: 100%;
    grid-template-areas: "title title" "illus illus" "content content";
    gap: 1rem;
  }
  .home-argumentsContent {
    height: unset;
  }
  .home-articleIllus {
    width: 100%;
    max-width: unset;
    height: 15rem;
    border-radius: unset;
  }
}
@media screen and (max-width: 576px) {
  .home-heroContent {
    grid-template-areas: "title title" "welcome welcome" "linkContainer linkContainer" "illus illus" "invit invit";
    gap: 2.5rem;
    height: 50rem;
    width: 100%;
  }
  .home-heroContent > *:not(:last-child) {
    width: min(98%, 90vw);
    margin: auto;
  }
  .home-heroIllus {
    max-width: 100%;
    height: 15rem;
    border-radius: unset;
  }
  .home-features {
    padding-top: 15rem;
  }
}
@media screen and (max-width: 390px) {
  .home-contactBtn {
    text-decoration: none;
    padding: 0.75rem 1.25rem;
  }
}
.home-about {
  background: var(--primary);
  min-height: 150vh;
}

.home-about-article {
  height: 100%;
  display: flex;
  gap: 5rem;
}
.home-about-article > * {
  flex-basis: 100%;
}

.home-about-title-wrapper {
  height: 80vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 5rem;
  width: 50%;
}

.home-about-title {
  font-size: 5rem;
  color: var(--bg);
  width: 100%;
  text-align: center;
}

.video-player-container {
  width: 100%;
  aspect-ratio: 20/11;
  border-radius: 15px;
  overflow: hidden;
}

.home-about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  margin: 100vh 0;
}

.home-about-content-wrapper {
  height: 15vh;
  margin: 15vh 0;
  display: grid;
  place-content: left;
  position: sticky;
  background: var(--primary);
}
.home-about-content-wrapper:nth-child(1) {
  top: 17.5vh;
}
.home-about-content-wrapper:nth-child(2) {
  top: 35vh;
}
.home-about-content-wrapper:nth-child(3) {
  top: 52.5vh;
}
.home-about-content-wrapper:nth-child(4) {
  top: 70vh;
}
.home-about-content-wrapper:nth-child(5) {
  top: 87.5vh;
}
.home-about-content-wrapper:last-child {
  background: rgba(0, 0, 0, 0);
}

.home-about-content-text {
  font-size: 2rem;
  position: sticky;
  top: 5rem;
}

.home-hero {
  position: sticky;
  top: 4rem;
}

.home-hero-article {
  justify-content: center;
  height: 90vh;
  display: grid;
  grid-template-areas: "title carousel" "welcome carousel" "link carousel";
  grid-template-columns: 1fr 1fr;
}

.home-title {
  grid-area: title;
  font-size: 4rem;
  line-height: 1.15;
  align-self: center;
}

.home-welcome {
  grid-area: welcome;
  font-size: 2rem;
  place-self: baseline;
}

.home-highlighted {
  color: var(--accent);
}

.home-link-wrapper {
  grid-area: link;
}

.contact-social-icon {
  height: 2.5rem;
  padding-right: 1.5rem;
  color: var(--text);
  transition: color 0.125s linear;
}
.contact-social-icon:hover {
  color: var(--accent);
}

.home-carousel {
  position: relative;
  grid-area: carousel;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: url("/assets/home/hand.png");
  background-repeat: no-repeat;
  background-size: 35rem;
  background-position: bottom right;
}

.home-carousel-illus-container {
  position: absolute;
  bottom: 17.2rem;
  width: 12.75rem;
  right: 11.15rem;
  aspect-ratio: 0.58;
  background: var(--bg);
  overflow: hidden;
}

.home-carousel-illus {
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%);
}
.home-carousel-illus[data-position="1"] {
  transform: translate(0%);
  z-index: 10;
}
.home-carousel-illus[data-position="2"] {
  transform: translate(100%);
  z-index: 10;
}

.home-carousel-name-container {
  position: absolute;
  bottom: 40rem;
  right: 10rem;
  height: 4rem;
  width: 15rem;
  font-family: var(--fontfam3);
}

.home-carousel-name {
  position: absolute;
  opacity: 0;
  width: 100%;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}
.home-carousel-name[data-displayed="1"] {
  opacity: 1;
}

.home-carousel-title {
  position: absolute;
  opacity: 0;
  text-transform: capitalize;
  width: 100%;
  text-align: right;
  transition: opacity 0.5s ease-in-out;
}
.home-carousel-title::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 0.5rem;
  background-image: url("/assets/home/arrow.png");
  background-repeat: no-repeat;
  background-position: top left;
}

.home-testimonialsContent {
  width: 95%;
  max-width: 1400px;
  margin: auto;
}

.home-testimonialsTitle {
  margin: 5rem 0;
  text-align: center;
  line-height: 1.15;
}

.home-testimonialsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 5rem;
  max-width: calc(100% - 3rem);
  margin: auto;
}
.home-testimonialsWrapper article {
  flex: 1 1 0;
}

.home-testimonialContent {
  position: relative;
  background: #fff;
  padding: 1rem;
  box-shadow: 0px 2px 2px 0 var(--grey);
}
.home-testimonialContent::after, .home-testimonialContent::before {
  position: absolute;
  color: var(--accent);
  font-size: 5rem;
  font-family: "Acme";
}
.home-testimonialContent::after {
  content: "“";
  top: -3rem;
  left: -1rem;
}
.home-testimonialContent::before {
  content: "”";
  bottom: -4.5rem;
  right: -1rem;
}

.home-testimonialAuthor {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: 1rem;
}

.projects-main {
  color: var(--text);
  min-height: 80vh;
  max-width: 1400px;
  margin: auto;
}
.projects-main > * {
  line-height: 1.75;
}

.projects-header {
  margin: 4rem auto 8rem;
  width: min(1000px, 98%);
}

.projects-headerTitle {
  font-size: 2.5rem;
  font-family: var(--fontfam1);
}

.projects-headerContent {
  font-size: 1.25rem;
  margin: 1rem 0 2.5rem;
}

.projects-contactBtn {
  display: inline-block;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  border: 1px solid var(--accent);
  border-radius: 5px;
  color: var(--bg);
  background: var(--accent);
  transition: background-color 0.25s linear, color 0.25s linear, border-color 0.25s linear;
  font-weight: 400;
  font-size: 1.25rem;
  box-shadow: 0px 2px 2px 0 rgba(17, 17, 17, 0.3333333333);
  padding: 0.75rem 1.5rem;
}
.projects-contactBtn:hover {
  background: var(--primary);
  border: 1px solid var(--primary);
  text-shadow: unset;
}

@media screen and (max-width: 991px) {
  .projects-header {
    text-align: center;
  }
  .projects-headerContent {
    text-align: justify;
    margin: 1rem 1.5rem 3rem;
  }
}
.pricing-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--text);
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.pricing-title,
.pricing-subtitle {
  font-family: var(--fontfam1);
  max-width: 90%;
  text-align: center;
}

.pricing-title {
  font-size: 2.75rem;
  margin: 1.5rem auto;
}

.pricing-pricingWrapper {
  display: flex;
  width: 98%;
  max-width: 1400px;
  margin: auto;
  padding: 2rem 0;
  justify-content: space-between;
}

.pricing-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  max-width: 31%;
  background: #fff;
  border-radius: 2.5rem;
  box-shadow: 0px 4px 4px 0 var(--grey);
  transition: transform 0.1s linear;
}
.pricing-article:hover {
  transform: scale(1.05);
}

.pricing-basic {
  --articleBg: var(--secondary);
}

.pricing-standard {
  --articleBg: var(--accent);
}

.pricing-premium {
  --articleBg: var(--primary);
}

.pricing-pricingTitle,
.pricing-header {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.pricing-header {
  background: var(--articleBg);
  position: relative;
  text-align: center;
  padding: 1.5rem 0;
  line-height: 1.5;
  border-radius: 2.5rem 2.5rem 0 0;
  color: var(--bg);
  font-family: var(--fontfam2);
}
.pricing-header ::after {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 1rem solid var(--articleBg);
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
}

.pricing-price {
  font-size: 4rem;
  display: block;
}

.pricing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-pricingTitle {
  padding: 2rem 0 1rem 0;
}

.pricing-pricingSubtitle {
  padding-bottom: 1rem;
}

.pricing-contentList {
  position: relative;
  width: 80%;
  height: 14rem;
  padding: 1rem 0;
  line-height: 2.25;
  margin-inline: auto;
  list-style: none;
  font-size: 1.15rem;
}
.pricing-contentList li:before {
  content: "✓ ";
  font-size: 1.25rem;
}
.pricing-contentList::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 10rem;
  background: var(--grey);
}

.pricing-footer {
  position: relative;
  text-align: center;
  padding: 2rem;
}
.pricing-footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 10rem;
  background: var(--grey);
}

.pricing-contact {
  text-decoration: unset;
  color: var(--bg);
  background: var(--articleBg);
  padding: 0.5rem 1rem;
  border-radius: 15rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.pricing-contact:hover {
  color: var(--articleBg);
  background: var(--bg);
}

.pricing-highLighted {
  color: var(--articleBg);
}

.pricing-more,
.pricing-labelForMore,
.pricing-labelForLess {
  display: none;
}

.pricing-labelForMore,
.pricing-labelForLess {
  position: relative;
  padding: 1rem;
  cursor: pointer;
}
.pricing-labelForMore::after,
.pricing-labelForLess::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 10rem;
  background: var(--grey);
}

@media screen and (max-width: 1200px) {
  .pricing-contentList {
    height: 16rem;
  }
}
@media screen and (max-width: 991px) {
  .pricing-pricingWrapper {
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .pricing-contentList {
    height: auto;
  }
  .pricing-article {
    flex-direction: row;
    width: 45rem;
    max-width: 98%;
    margin: auto;
  }
  .pricing-header {
    width: 30%;
    padding: 1.5rem;
    border-radius: 2.5rem 0 0 2.5rem;
  }
  .pricing-header ::after {
    left: 98%;
    top: 50%;
    transform: translateY(-50%);
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid var(--articleBg);
  }
  .pricing-content {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .pricing-article:hover {
    transform: unset;
  }
  .pricing-header {
    width: 40%;
    padding: 1.5rem;
  }
  .pricing-content {
    width: 60%;
  }
  .pricing-labelForMore {
    display: block;
  }
  .pricing-more:checked ~ .pricing-contentList {
    display: block;
  }
  .pricing-more:checked ~ .pricing-labelForLess {
    display: block;
  }
  .pricing-more:checked ~ .pricing-labelForMore {
    display: none;
  }
  .pricing-contentList {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .pricing-header {
    font-size: 5vw;
  }
  .pricing-price {
    font-size: 10vw;
    display: block;
  }
  .pricing-pricingTitle {
    font-size: 6vw;
  }
}
.contact-modal {
  position: fixed;
  background: rgba(255, 255, 255, 0.6666666667);
  backdrop-filter: blur(5px);
  inset: 0;
  z-index: 10;
  opacity: 0;
  animation: fadeIn 0.15s linear forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.contact-modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 2rem;
  border: 1px solid var(--accent);
  line-height: 1.5;
  font-size: 1.5rem;
  border-radius: 15px;
}
.contact-modalContent .contact-modalTitle {
  font-size: 2rem;
}
.contact-modalContent .contact-modalButton {
  display: block;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  color: var(--bg);
  border: 1px solid var(--accent);
  background: var(--accent);
  border-radius: 25rem;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 0.25rem 1.5rem;
}
.contact-modalContent .contact-modalButton:hover {
  color: var(--accent);
  background: #fff;
}

.contact-pageTitle,
.contact-main {
  color: var(--text);
  width: 98%;
  max-width: 1400px;
  margin: auto;
}

.contact-pageTitle {
  margin: 2.5rem auto 3rem;
  text-align: center;
  font-size: 3.5rem;
  font-family: var(--fontfam1);
  text-transform: capitalize;
}

.contact-main {
  display: grid;
  grid-template: "title form" 2fr "link form" 7fr/3fr 2fr;
  gap: 2rem;
  margin-bottom: 2rem;
  min-height: 34rem;
}

.contact-section {
  border-radius: 15px;
  box-shadow: 0px 2px 2px 0 var(--grey);
}

.contact-article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.contact-articleTitle {
  font-size: 2.25rem;
  font-family: var(--fontfam1);
  text-transform: capitalize;
}

.contact-title {
  grid-area: title;
  background: url("/assets/contact/phone.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--bg);
  font-size: 2rem;
  display: grid;
  place-content: center;
}
.contact-title h3 {
  margin: 1rem;
}

.contact-formContact {
  background: var(--lightCol);
  grid-area: form;
}
.contact-formContact .contact-article {
  height: calc(100% - 4rem);
  justify-content: space-between;
  gap: 1rem;
}

.contact-formTitle {
  line-height: 1.15;
  font-size: 1.15rem;
}

.contact-formWrapper {
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-inputWrapper,
.contact-textAreaWrapper {
  position: relative;
  width: 100%;
}

.contact-input,
.contact-textArea {
  background: var(--bg);
  width: calc(100% - 2rem);
  padding: 0.5rem 1rem;
  font-size: 1.15rem;
  border: none;
  border-radius: 10px;
}
.contact-input:focus ~ .contact-label, .contact-input:valid ~ .contact-label,
.contact-textArea:focus ~ .contact-label,
.contact-textArea:valid ~ .contact-label {
  font-size: 0.75rem;
  transform: translate(0.25rem, -100%);
}

.contact-input {
  min-height: 2rem;
}

.contact-label {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0 0.5rem 1.25rem;
}

.contact-formButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--bg);
  background: var(--accent);
  border: 1px solid var(--accent);
  padding: 0.75rem 0;
  width: 100%;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.15rem;
  border-radius: 10px;
}
.contact-formButton:hover {
  background: #fff;
  color: var(--accent);
}
.contact-formButton svg {
  height: 1.25rem;
}

.contact-linksWrapper {
  grid-area: link;
  background: var(--lightCol);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}
.contact-linksWrapper .contact-article {
  position: relative;
  width: 35%;
  background: var(--bg);
  gap: 1.5rem;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
.contact-linksWrapper .contact-articleTitle {
  font-size: 1.75rem;
}

.contact-followUs {
  display: flex;
  flex-direction: column;
}

.contact-iconContainer {
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: -0.75rem;
  left: -0.75rem;
  border-radius: 15px;
  padding: 0.75rem;
  background-color: var(--bg);
}

.contact-icon {
  color: var(--accent);
  font-size: 2rem;
}

.contact-linkWrapper {
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
}
.contact-linkWrapper a {
  color: var(--accent);
}

.contact-socialIcon {
  height: 2.5rem;
}

/* Tablette */
@media screen and (max-width: 991px) {
  .contact-main {
    width: 100%;
    grid-template: "title" "link" "form";
  }
  .contact-section {
    border-radius: unset;
  }
}
@media screen and (max-width: 576px) {
  .contact-linksWrapper .contact-article {
    width: 85%;
  }
}
.project-section {
  color: var(--text);
  max-width: 1400px;
  margin: auto;
}

.project-header {
  color: var(--bg);
  font-size: 2rem;
  height: 6rem;
  width: min(98%, 90vw);
  max-width: 1400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto 1rem;
  border-radius: 15px;
}

.project-nameContainer {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(44, 62, 80, 0.5019607843);
  border-radius: 15px;
  cursor: pointer;
}
.project-nameContainer h2 {
  font-family: var(--fontfam1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.project-chevron {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  transition: 0.25s transform linear;
}
.project-chevron > * {
  height: 2rem;
}

.project-chevronActive {
  transform: translate(0, -50%) rotate(-180deg);
}

.project-content {
  height: 0px;
  transition: 0.5s height;
  overflow: hidden;
  width: min(98%, 90vw);
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-areas: "description description" "objectives objectives" "implementation illus" "hightlights illus";
}

.project-active {
  height: 35rem;
}

.project-description {
  font-size: 1.25rem;
  grid-area: description;
}

.project-contentText {
  line-height: 1.5;
  background: var(--lightCol);
  padding: 0.5rem 1rem;
}
.project-contentText > *:not(:first-child) {
  margin-top: 0.75rem;
}

.project-contentTitle {
  font-size: 1.5rem;
}

.project-contentIllus {
  width: 100%;
  max-width: 30rem;
  height: auto;
  object-fit: contain;
}

.project-contentLink {
  margin-left: 5rem;
  grid-area: illus;
}

.project-objectives {
  grid-area: objectives;
}

.project-implementation {
  grid-area: implementation;
}

.project-highlights {
  grid-area: hightlights;
}

@media screen and (max-width: 1200px) {
  .project-header {
    font-size: 1.75rem;
  }
  .project-active {
    height: 100%;
    margin-bottom: 2rem;
  }
  .project-description {
    font-size: 1.25rem;
  }
  .project-content {
    grid-template-areas: "description description" "objectives objectives" "implementation implementation" "hightlights illus";
    gap: 0.5rem;
  }
}
/* Tablette */
@media screen and (max-width: 991px) {
  .project-header {
    width: 100%;
    border-radius: unset;
  }
  .project-nameContainer {
    border-radius: unset;
  }
  .project-content {
    grid-template-areas: "description" "illus" "objectives " "implementation " "hightlights ";
  }
  .project-contentLink {
    margin: 2rem auto 0;
  }
}
/* END OF RESET */
/*
font-family: 'Source Sans 3', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Kalam', cursive;
*/
:root {
  --bg: #fff;
  --text: #010028;
  --primary: #14213d;
  --secondary: #1f7ead;
  --lightCol: hsl(0, 0%, 95%);
  --accent: #ff006e;
  --grey: #D9D9D9;
  --fontfam1: "Archivo Black", serif;
  --fontfam2: "Source Sans 3", sans-serif;
  --fontfam3: "Kalam", cursive;
  color-scheme: only light;
}

body {
  color: var(--text);
  font-family: var(--fontfam2);
  background: var(--bg);
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a,
a:hover,
a:visited {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.slide-in,
.slide-out {
  position: fixed;
  display: grid;
  place-content: center;
  font-size: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform-origin: bottom;
  z-index: 100;
  background: var(--lightCol);
  /*
  &::after,
  &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
  }

  &::after {
      background: url('/assets/transition.webp');
      background-size: min(1000px, 60%);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
  }
  &::before {
      background: radial-gradient(circle at center, #fff1 60%, var(--primary)),
          radial-gradient(circle at center, #fff2 50%, var(--primary)),
          radial-gradient(circle at center, #fff3 40%, var(--primary)),
          radial-gradient(circle at center, #fff 30%, var(--primary)),
          var(--primary);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
  }*/
}

.slide-out {
  transform-origin: top;
}

.name {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

@media screen and (max-width: 1400px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (max-width: 390px) {
  .home-contactBtn {
    text-decoration: none;
    padding: 0.75rem 1.25rem;
  }
  :root {
    font-size: 12px;
  }
}