@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&family=Crimson+Text:wght@400;600;700&family=Libre+Bodoni:wght@400;500;600;700&family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Nova+Cut&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400&family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap&family=Merriweather&display=swap&family=Acme&family=Merriweather&family=Anton&family=Archivo+Black&family=Lilita+One&family=Outfit&family=Seymour+One&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF RESET */
/*
font-family: 'Crimson Text', serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Libre Bodoni', courier, serif;

font-family: 'Afacad', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Source Sans 3', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Lilita One', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Seymour One', sans-serif;
*/
:root {
  --bg: #F9FEFF;
  --text: #000;
  --primary: #4C5E9D;
  --secondary: #FF9209;
  --lightCol: #eee;
  --accent: #FF6C22;
  --grey: #D9D9D9;
  --fontfam1:"Archivo Black", serif;
  --fontfam2:"Source Sans 3", sans-serif;
}

body {
  color: var(--text);
  font-family: var(--fontfam2);
  background: var(--bg);
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a, a:hover, a:visited {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  /* Votre code CSS spécifique pour les écrans mobiles (portrait) */
}
/* Mobile (paysage) */
@media screen and (max-width: 767px) {
  /* Votre code CSS spécifique pour les écrans mobiles (paysage) */
}
/* Tablette */
@media screen and (max-width: 991px) {
  /* Votre code CSS spécifique pour les tablettes */
}
/* Petits écrans d'ordinateur portable */
@media screen and (max-width: 1199px) {
  /* Votre code CSS spécifique pour les petits écrans d'ordinateur portable */
}
/* Écrans d'ordinateur portable/moyens */
@media screen and (max-width: 1400px) {
  :root {
    font-size: 14px;
  }
}