@import './scss/base/reset', './scss/components/buttons';

@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&family=Crimson+Text:wght@400;600;700&family=Libre+Bodoni:wght@400;500;600;700&family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Nova+Cut&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400&family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');

/* END OF RESET */
/*
font-family: 'Afacad', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Source Sans 3', sans-serif;
font-family: 'Nova Cut', sans-serif;
font-family: 'Libre Bodoni', courier, serif;
*/


:root{
    --bg: #FAFAFA;
    --col: #010028;
    --cta: #02BDC7;
	
    --ctabg: #02BDC750;
    --font-fam1: 'Source Sans 3', courier, serif;
    --font-fam2: 'Afacad', sans-serif;
}

body{
    // background: radial-gradient(circle at 100vw 100vh, var(--ctabg), #fff0 75%), var(--bg);
	/* background-position: right 100vh; */
	/* background-attachment: fixed; */
	min-height: 200vh;
    color: var(--col);
    transition: background .25s ease-in-out;
    font-family: var(--font-fam1);
}

section{
    margin-bottom: 1rem;
}